[Unit]
Description=Cleanup containers, images and volumes produced by GitLab Runner

[Service]
Type=oneshot
ExecStart=docker system prune --force --filter label=com.gitlab.gitlab-runner.managed=true --volumes
ExecStart=docker image prune --all --force --filter until=168h
