[Unit]
Description=Run libvirt-executor-update-base-image.service daily

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1d

[Install]
WantedBy=timers.target
