[Unit]
Description=Fetch libvirt-executor image
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/libvirt-executor-fetch-image
