---

- name: restart php-fpm@archwiki
  service: name=php-fpm@{{ archwiki_user }} state=restarted

- name: run wiki updatescript
  command: php {{ archwiki_dir }}/public/maintenance/update.php --quick
  become: true
  become_user: "{{ archwiki_user }}"

# The nginx proxy/fastcgi cache can be cleared by simply deleting all files in
# the cache directory. It is important to keep the directory tree intact,
# otherwise nginx will spit errors into the log until it is restarted (even
# reload is not enough).
# reference: https://stackoverflow.com/a/6896903
- name: purge nginx cache
  command: find /var/lib/nginx/cache -type f -delete

# The MediaWiki file cache can be invalidated by deleting the files in the
# cache, by setting $wgCacheEpoch to the current time, or by touching the
# LocalSettings.php file (thanks to $wgInvalidateCacheOnLocalSettingsChange
# being set to true). References:
# - https://www.mediawiki.org/wiki/Manual:File_cache
# - https://www.mediawiki.org/wiki/Manual:$wgInvalidateCacheOnLocalSettingsChange
- name: invalidate MediaWiki file cache
  file: path="{{ archwiki_dir }}/public/LocalSettings.php" state=touch owner=archwiki group=archwiki mode=0640
