[Unit]
Description=Cleanup

[Service]
Type=oneshot
User=cleanup
ExecStart=/usr/bin/bash -c '/srv/repos/svn-community/dbscripts/cron-jobs/ftpdir-cleanup'
ExecStart=/usr/bin/bash -c '/srv/repos/svn-packages/dbscripts/cron-jobs/ftpdir-cleanup'

NoNewPrivileges=true
ProtectHome=true
PrivateTmp=true
