[Unit]
Description=Cleanup

[Service]
Type=oneshot
User=cleanup
ExecStart=/srv/repos/git-packages/dbscripts/cron-jobs/ftpdir-cleanup

CapabilityBoundingSet=
PrivateDevices=true
PrivateNetwork=true
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
ReadWritePaths=/srv/ftp/ /srv/repos/git-packages /srv/repos/lock
