[Unit]
Description=Create sogrep database
RequiresMountsFor=/srv/ftp

[Service]
Type=oneshot
ExecStart=/usr/local/bin/createlinks
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
