[Unit]
Description=Integrity Check

[Service]
Type=oneshot
User=git-packages
ExecStart=/srv/repos/git-packages/dbscripts/cron-jobs/integrity-check arch-notifications@archlinux.org,arch-dev-public@archlinux.org
