[Unit]
Description=Sourceballs

[Service]
Type=oneshot
User=sourceballs
ExecStart=/srv/repos/svn-community/dbscripts/cron-jobs/sourceballs
ExecStart=/srv/repos/svn-packages/dbscripts/cron-jobs/sourceballs
