[Service]
ExecStartPre=/usr/bin/truncate -s 0 /var/lib/quassel/.oidentd.conf
ExecStart=
ExecStart=/usr/bin/quasselcore --configdir=/var/lib/quassel --oidentd --syslog --require-ssl \
    --ssl-cert=/etc/letsencrypt/live/{{ quassel_domain }}/fullchain.pem \
    --ssl-key=/etc/letsencrypt/live/{{ quassel_domain }}/privkey.pem
