- name: Install required packages
  pacman: name=rebuilderd,archlinux-repro,binutils,unzip state=present

- name: Configure rebuilderd-worker.conf
  template: src=rebuilderd-worker.conf.j2 dest=/etc/rebuilderd-worker.conf owner=rebuilderd group=rebuilderd mode=0660

- name: Create arch repro configuration dir
  file: path=/etc/archlinux-repro state=directory owner=root group=root mode=0750

- name: Install archlinux-repro configuration
  copy: src=repro.conf dest=/etc/archlinux-repro/repro.conf owner=root group=root mode=0660

- name: Enable and start rebuilderd-worker@{{ item }}
  systemd: name=rebuilderd-worker@{{ item }} enabled=yes state=started
  with_items: '{{ rebuilderd_workers }}'

- name: Install cleanup script
  copy: src=clean-repro dest=/usr/local/bin/clean-repro owner=root group=root mode=0755

- name: Install cleanup units
  copy: src={{ item }} dest=/etc/systemd/system/{{ item }} owner=root group=root mode=0644
  loop:
    - clean-repro.timer
    - clean-repro.service
  notify:
    - Daemon reload

- name: Start and enable cleanup timer
  service: name=clean-repro.timer enabled=yes state=started
