[Unit]
Description=archweb mirrorcheck service
After=network.target

[Service]
Type=oneshot
User=archweb
WorkingDirectory={{ archweb_dir }}
{% for location in archweb_mirrorcheck_locations %}
ExecStart={{ archweb_dir }}/env/bin/python manage.py mirrorcheck --location {{ location }}
{% endfor %}
Nice=5
TimeoutStartSec=3600

NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
