[uwsgi]
plugins=python2
chdir={{ archweb_dir }}
wsgi-file=archweb.wsgi
socket=/run/uwsgi/archweb.sock
chmod-socket=660
virtualenv={{ archweb_dir }}/env
processes=6
threads=2
master=true
uid=archweb
gid=http
thunder-lock = true
daemonize=/var/log/uwsgi/archweb.log
stats=/run/uwsgi/archweb-stats.sock
