[Unit]
Description=archweb mirrorcheck service
After=network.target

[Service]
Type=oneshot
User=archweb
WorkingDirectory={{ archweb_dir }}
{% for location in archweb_mirrorcheck_locations %}
ExecStart={{ archweb_dir }}/env/bin/python manage.py mirrorcheck --location {{ location }}
{% endfor %}
Nice=5

[Install]
WantedBy=multi-user.target
