[Unit]
Description=archweb reporead
After=network-online.target

[Service]
User=archweb
WorkingDirectory={{ archweb_dir }}
ExecStart={{ archweb_dir }}/env/bin/python manage.py reporead_inotify
Restart=on-failure
Nice=5

[Install]
WantedBy=multi-user.target
