# Django settings for archlinux project.

## Debug settings
DEBUG = False
TEMPLATE_DEBUG = False

## Notification admins
ADMINS = (
    ('Archweb Bugs', 'dan@archlinux.org'),
)

SERVER_EMAIL = 'archweb@archlinux.org'

DATABASES = {
    'default': {
        'ENGINE'  : 'django.db.backends.postgresql_psycopg2',
        'PORT'    : 5432,
        'NAME'    : 'archweb',
        'USER'    : 'archweb',
        'PASSWORD': '{{ archweb_db_password }}',
        'OPTIONS' : {'autocommit': True, 'application_name': 'archweb'},
    },
}

## Define cache settings
CACHES = {
    'default': {
        'BACKEND' : 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '127.0.0.1:11211',
    }
}

## Use secure session cookies? Make this true if you want all
## logged-in actions to take place over HTTPS only. If developing
## locally, you will want to use False.
SESSION_COOKIE_SECURE = True

## static files URL
STATIC_URL = '/static/'

## location for saving dev pictures
MEDIA_ROOT = '{{ archweb_dir }}/media/img'

## web url for serving image files
MEDIA_URL = '/img/'

# Make this unique, and don't share it with anybody.
SECRET_KEY = '{{ archweb_secret_key }}'

# Hostnames we allow this site to be served under
ALLOWED_HOSTS = ['{{ archweb_domain }}']

## CDN settings
CDN_ENABLED = False

# vim: set ts=4 sw=4 et:
