upstream archweb {
    server unix:///run/uwsgi/archweb.sock;
}
{% if archweb_alternate_domains %}
{% for domain in archweb_alternate_domains %}

server {
    listen       80;
    listen       [::]:80;
    server_name  {{ domain }};

    access_log   /var/log/nginx/{{ archweb_domain }}/access.log;
    error_log    /var/log/nginx/{{ archweb_domain }}/error.log;

    include snippets/letsencrypt.conf;

    location / {
        rewrite ^(.*) https://{{ domain }}$1 permanent;
    }
}

server {
    listen       443 ssl http2;
    listen       [::]:443 ssl http2;
    server_name  {{ domain }};

    access_log   /var/log/nginx/{{ archweb_domain }}/access.log;
    error_log    /var/log/nginx/{{ archweb_domain }}/error.log;

    ssl_certificate      /etc/letsencrypt/live/{{ archweb_domain }}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{ archweb_domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ archweb_domain }}/chain.pem;

    location / {
        rewrite ^(.*) https://{{ archweb_domain }}$1 permanent;
    }
}
{% endfor %}

server {
{% else %}

server {
{% endif %}
    listen       80;
    listen       [::]:80;
    server_name  {{ archweb_domain }};

    access_log   /var/log/nginx/{{ archweb_domain }}/access.log;
    error_log    /var/log/nginx/{{ archweb_domain }}/error.log;

    include snippets/letsencrypt.conf;

    location / {
        rewrite ^(.*) https://{{ archweb_domain }}$1 permanent;
    }
}

server {
    listen       443 ssl http2;
    listen       [::]:443 ssl http2;
    server_name  {{ archweb_domain }};

    access_log   /var/log/nginx/{{ archweb_domain }}/access.log;
    error_log    /var/log/nginx/{{ archweb_domain }}/error.log;

    ssl_certificate      /etc/letsencrypt/live/{{ archweb_domain }}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{ archweb_domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ archweb_domain }}/chain.pem;

    location /robots.txt {
        alias {{ archweb_dir }}/archlinux.org/robots.txt;
    }

    location /humans.txt {
        alias {{ archweb_dir }}/archlinux.org/humans.txt;
    }

    location /google7827eadf026b4a87.html {
        alias {{ archweb_dir }}/archlinux.org/google7827eadf026b4a87.html;
    }

    location /BingSiteAuth.xml {
        alias {{ archweb_dir }}/archlinux.org/BingSiteAuth.xml;
    }

    location /favicon.ico {
        alias {{ archweb_dir }}/collected_static/favicon.ico;
    }

    location /pacman {
        alias {{ archweb_dir }}/archlinux.org/pacman/;
    }

    location /netcfg {
        alias {{ archweb_dir }}/archlinux.org/netcfg/;
    }

    location /logos {
        alias {{ archweb_dir }}/archlinux.org/logos/;
    }

    location ~ ^/iso/(.*\.(iso|img)$) {
	deny all;
    }

    location /iso {
        alias {{ archweb_rsync_iso_dir }};
    }

    location /static {
        alias {{ archweb_dir }}/collected_static;
    }

    location /img {
        alias {{ archweb_dir }}/media/img;
    }

    location / {
        include uwsgi_params;
        uwsgi_pass archweb;
    }
}
