{
  "tcp": {
    "listen": "localhost:12345"
  },
  "irc": {
    "server": "chat.freenode.net:6697",
    "tls": true,
    "tls_skip_verify": false,
    "nick": "archzabbix",
    "realname": "Arch Zabbix Notifier",
    "server_pass": "",
    "identify_pass": "{{ vault_zabbix_irc_password }}",
    "sasl_login": "archzabbix",
    "sasl_pass": "{{ vault_zabbix_irc_password }}",
    "channels": ["#archlinux-devops"]
  },
  "commands": {
  }
}

