[Unit]
Description=docker-image service for building 

[Service]
Type=oneshot
ExecStart=/usr/bin/make -C {{ archboxes_git_dir }} rootfs
User={{ archboxes_user }}
WorkingDirectory={{ archboxes_git_dir }}
