## English language spam rules

# cancer stuff
header   __LOCAL_DISEASE_SUBJ Subject =~ /\b(cancer|ill|doctor|survive|disease|illness|admitted|hospital)\b/i
body     __LOCAL_DISEASE_BODY /\b(cancer|ill|doctor|survive|disease|illness|admitted|hospital)\b/i
meta     LOCAL_DISEASE ((__LOCAL_DISEASE_SUBJ + __LOCAL_DISEASE_BODY) > 0)
describe LOCAL_DISEASE Contains disease keywords in body and/or subject
score    LOCAL_DISEASE 1.5

# charity stuff
header   __LOCAL_CHARITY_SUBJ Subject =~ /\b(charity|donation|donate|humanity|orphan|orphanage|widow)\b/i
body     __LOCAL_CHARITY_BODY /\b(charity|donation|donate|humanity|orphan|orphanage|widow)\b/i
meta     LOCAL_CHARITY ((__LOCAL_CHARITY_SUBJ + __LOCAL_CHARITY_BODY) > 0)
describe LOCAL_CHARITY Contains charity or donate keywords in body and/or subject
score    LOCAL_CHARITY 1.5

# fake business inquiries/agreements
header   __LOCAL_FAKEBUSINESS_SUBJ Subject =~ /\b(mutual|business|agreement|offer|special|proposal|brand|affordable|marketing|services|development)\b/i
body     __LOCAL_FAKEBUSINESS_BODY /\b(mutual|business|agreement|offer|special|proposal|brand|affordable|marketing|services|development)\b/i
meta     LOCAL_FAKEBUSINESS ((__LOCAL_FAKEBUSINESS_SUBJ + __LOCAL_FAKEBUSINESS_BODY) > 0)
describe LOCAL_FAKEBUSINESS Contains fake business keywords in body and/or subject
score    LOCAL_FAKEBUSINESS 0.5

# delivery notifications
header LOCAL_ITEM_DELIVERY Subject =~ /Item Delivery Notification/
score  LOCAL_ITEM_DELIVERY 2.5

header __LOCAL_PARCEL Subject =~ /\bparcel\b/i
header __LOCAL_PACKAGE Subject =~ /\bpackage\b/i
header __LOCAL_DELIVERY Subject =~ /\bdelivery?\b/i
meta LOCAL_PARCEL_DELIVERY ((__LOCAL_PARCEL || __LOCAL_PACKAGE) && __LOCAL_DELIVERY)
describe LOCAL_PARCEL_DELIVERY Subject contains words delivery? and parcel or package
score LOCAL_PARCEL_DELIVERY 1.0

header LOCAL_PACKAGE_DELIVERY Subject =~ /Package Delivery( Notification|!!!)/
score  LOCAL_PACKAGE_DELIVERY 2.5

# company documents
header LOCAL_COMPANY_DOC Subject =~ /Company Documents/
score  LOCAL_COMPANY_DOC 2.5

header LOCAL_XEROX_1 Subject =~ /Scanned Image from a Xerox WorkCentre/
score LOCAL_XEROX_1 5

header LOCAL_AUDIO_TRANSCRIP Subject =~ /Audio Transcription Service Provider/
score LOCAL_AUDIO_TRANSCRIP 3

body LOCAL_SECURE_PAYMENT /Secure Online Payment/
score LOCAL_SECURE_PAYMENT 1

body LOCAL_SEO /This domain seo registration for .* search engine service optimization notification will expire/
score LOCAL_SEO 1.5

body LOCAL_MYNAME /My name is .*, please reply me\./
score LOCAL_MYNAME 2.5

header LOCAL_LOTTERY Subject =~ /\bLottery\b/i
score LOCAL_LOTTERY 0.2

header LOCAL_WINNER Subject =~ /\bWinner\b/i
score LOCAL_WINNER 0.2

meta LOCAL_LOTTERY_WINNER (LOCAL_LOTTERY && LOCAL_WINNER)
score LOCAL_LOTTERY_WINNER 1.2

body LOCAL_BANK_ALERT /\bbank(ing)? alert\b/i
score LOCAL_BANK_ALERT 2

header LOCAL_URGENT_SUBJECT Subject =~ /\burgent\b/i
score LOCAL_URGENT_SUBJECT 1

body __LOCAL_FUNDS_1 /\bfunds?\b/i
body __LOCAL_FUNDS_2 /\bconfirm(ation)?\b/i
body __LOCAL_FUNDS_3 /\bserious loan\b/i
meta LOCAL_FUNDS (__LOCAL_FUNDS_1 && (__LOCAL_FUNDS_2 || __LOCAL_FUNDS_3))
score LOCAL_FUNDS 1.5

body LOCAL_INVESTMENT_1 /,regarding my investment proposal\.\?/i
score LOCAL_INVESTMENT_1 4

header LOCAL_LOAN Subject =~ /\bloan\b/i
score LOCAL_LOAN 0.5

header LOCAL_APPLY_NOW Subject =~ /\bapply now\b/i
score LOCAL_APPLY_NOW 1

header LOCAL_APPROVED Subject =~ /^APPROVED!$/
score LOCAL_APPROVED 5

body LOCAL_BINARY_OPTIONS /Binary Options Success Network/
score LOCAL_BINARY_OPTIONS 3

body LOCAL_RIVER /Try River Team for FREE for 3 days/
score LOCAL_RIVER 3

header LOCAL_DEAR_BELOVED Subject =~ /Dear Beloved One,/
score LOCAL_DEAR_BELOVED 1.8

body LOCAL_BUSINESS_JOURNAL /got your email from a business web journal/
score LOCAL_BUSINESS_JOURNAL 3

body LOCAL_BOGUS_OFFER /We are currently expanding our global presence and portfolio by/
score LOCAL_BOGUS_OFFER 3.5


body LOCAL_MASTRUBATION /\bmasturbation\b/i
score LOCAL_MASTRUBATION 2

body LOCAL_VISIT_POLICE /You саn visit police but nobody will help you/i
score LOCAL_VISIT_POLICE 2

body LOCAL_BITCOINT_PAYMENT /waiting for your Bitcoin payment/i
score LOCAL_BITCOINT_PAYMENT 1

body LOCAL_TRY_TO_CHEAT /Do not try to cheat me/i
score LOCAL_TRY_TO_CHEAT 1.5

body LOCAL_HI_PERV /Hi perv,/
score LOCAL_HI_PERV 2

body LOCAL_CONTACT_INFO /We provide Business executive contact information/
score LOCAL_CONTACT_INFO 2

body LOCAL_CONTACT_INFO_LIST_TECH /Technology specific Lists/i
score LOCAL_CONTACT_INFO_LIST_TECH 0.5

body LOCAL_CONTACT_INFO_LIST_IND /Industry Specific Lists/i
score LOCAL_CONTACT_INFO_LIST_IND 0.5

body LOCAL_CONTACT_INFO_LIST_TITLE /Title Specific Lists/i
score LOCAL_CONTACT_INFO_LIST_TITLE 0.5

body LOCAL_CONTACT_INFO_DB_ORGA /We are a database organization/i
score LOCAL_CONTACT_INFO_DB_ORGA 0.5

