[Unit]
Description=Draupnir Matrix moderation tool
Wants=synapse.service pantalaimon.service
After=network.target synapse.service pantalaimon.service

[Service]
User=synapse
WorkingDirectory=/var/lib/synapse/draupnir
Environment=NODE_ENV=production
ExecStart=/usr/bin/node lib/index.js --draupnir-config /etc/synapse/draupnir.yaml
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target

# vim:set ft=systemd sw=2 sts=-1 et:
