[Unit]
Description=Synapse Matrix worker (%i)
BindsTo=synapse.service
After=synapse.service

[Service]
Type=notify
NotifyAccess=main
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abort

User=synapse

WorkingDirectory=~
ExecStart=/var/lib/synapse/venv/bin/python -m synapse.app.%i --config-path=/etc/synapse/homeserver.yaml --config-path=/etc/synapse/worker-%i.yaml
SyslogIdentifier=synapse-worker-%i

Environment=SYNAPSE_CACHE_FACTOR=1.0
Environment=LD_PRELOAD=/usr/lib/libjemalloc.so

[Install]
RequiredBy=synapse.service

# vim:set ft=systemd:
