[Unit]
Description=Synapse Matrix Homeserver
Requires=postgresql.service
After=network.target postgresql.service

[Service]
User=synapse
WorkingDirectory=~
Environment=LD_PRELOAD=/usr/lib/libjemalloc.so
Environment=SYNAPSE_CACHE_FACTOR=2.0
ExecStart=/var/lib/synapse/venv/bin/python -m synapse.app.homeserver --config-path=/etc/synapse/homeserver.yaml

[Install]
WantedBy=multi-user.target
