[Unit]
Description=Synapse Matrix homeserver
Requires=postgresql.service redis.service
Wants=turnserver.service
After=network.target postgresql.service redis.service turnserver.service

[Service]
Type=notify
NotifyAccess=main
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abort

User=synapse

WorkingDirectory=~
ExecStart=/var/lib/synapse/venv/bin/python -m synapse.app.homeserver --config-path=/etc/synapse/homeserver.yaml
SyslogIdentifier=synapse

Environment=LD_PRELOAD=/usr/lib/libjemalloc.so

[Install]
WantedBy=multi-user.target

# vim:set ft=systemd:
