modules:
  - module: mjolnir.Module
    config:
      block_invites: true
      block_messages: false
      block_usernames: false
      ban_lists:
        - "!WuBtumawCeOGEieRrp:matrix.org"     # #matrix-org-coc-bl:matrix.org
        - "!tUPwPPmVTaiKXMiijj:matrix.org"     # #matrix-org-hs-tos-bl:matrix.org
        - "!vmRBOqUEHGdNBeweth:archlinux.org"  # #banlist:archlinux.org
server_name: "{{ matrix_server_name }}"
public_baseurl: https://{{ matrix_domain }}/
presence:
allow_public_rooms_without_auth: true
allow_public_rooms_over_federation: true
listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    bind_addresses: ['::1', '127.0.0.1']
    resources:
      - names: [client, federation]
        compress: false
  - port: 9093
    type: http
    bind_addresses: ['::1', '127.0.0.1']
    resources:
      - names: [replication]
        compress: false
  - port: 8019
    type: metrics
    bind_addresses: ['127.0.0.1']
manhole_settings:
delete_stale_devices_after: 1y
limit_remote_rooms:
templates:
retention:
  enabled: true
  default_policy:
    min_lifetime: 1d
    max_lifetime: 1y
  allowed_lifetime_min: 1d
  allowed_lifetime_max: 1y
  purge_jobs:
    - longest_max_lifetime: 3d
      interval: 12h
    - shortest_max_lifetime: 3d
      interval: 1d
federation_metrics_domains:
  - matrix.org
caches:
  global_factor: 0.7
  per_cache_factors:
    get_users_in_room: 5.0
database:
  name: psycopg2
  txn_limit: 10000
  args:
    dbname: synapse
    user: synapse
    password: {{ vault_postgres_users.synapse }}
    cp_min: 1
    cp_max: 8
log_config: "/etc/synapse/log_config.yaml"
worker_log_config: "/etc/synapse/log_config.yaml"
enable_media_repo: false
media_store_path: "/var/lib/synapse/media_store"
max_upload_size: {{ matrix_max_upload_size }}
media_retention:
  local_media_lifetime: 1y
  remote_media_lifetime: 28d
url_preview_enabled: true
url_preview_ip_range_blacklist:
  - '127.0.0.0/8'
  - '10.0.0.0/8'
  - '172.16.0.0/12'
  - '192.168.0.0/16'
  - '100.64.0.0/10'
  - '192.0.0.0/24'
  - '169.254.0.0/16'
  - '192.88.99.0/24'
  - '198.18.0.0/15'
  - '192.0.2.0/24'
  - '198.51.100.0/24'
  - '203.0.113.0/24'
  - '224.0.0.0/4'
  - '::1/128'
  - 'fe80::/10'
  - 'fc00::/7'
  - '2001:db8::/32'
  - 'ff00::/8'
  - 'fec0::/10'
url_preview_accept_language:
oembed:
turn_uris:
  - "turns:{{ matrix_domain }}:5349?transport=udp"
  - "turns:{{ matrix_domain }}:5349?transport=tcp"
  - "turn:{{ matrix_domain }}:3478?transport=udp"
  - "turn:{{ matrix_domain }}:3478?transport=tcp"
turn_shared_secret: "{{ vault_matrix_secrets.turn_shared_secret }}"
registration_shared_secret: "{{ vault_matrix_secrets.registration_shared_secret }}"
default_identity_server: https://matrix.org
account_threepid_delegates:
    msisdn: https://vector.im
auto_join_rooms:
{% for room in vault_matrix_secrets.auto_join_rooms %}
  - {{ room | quote }}
{% endfor %}
autocreate_auto_join_rooms: false
auto_join_mxid_localpart: mjolnir
auto_join_rooms_for_guests: false
enable_metrics: true
metrics_flags:
    known_servers: true
report_stats: true
room_prejoin_state:
app_service_config_files:
  - /etc/synapse/appservice-registration-irc.yaml
macaroon_secret_key: "{{ vault_matrix_secrets.macaroon_secret_key }}"
form_secret: "{{ vault_matrix_secrets.form_secret }}"
signing_key_path: "/etc/synapse/{{ matrix_server_name }}.signing.key"
old_signing_keys:
trusted_key_servers:
  - server_name: "matrix.org"
suppress_key_server_warning: true
saml2_config:
  sp_config:
  user_mapping_provider:
    config:
oidc_providers:
  - idp_id: oidc
    idp_name: "Arch Linux"
    idp_icon: "mxc://archlinux.org/iQmyhmksPLmphXWFUxiLEwVw"
    idp_brand: archlinux
    issuer: "https://accounts.archlinux.org/auth/realms/archlinux"
    client_id: "openid_matrix"
    client_secret: "{{ vault_matrix_openid_client_secret }}"
    scopes: ["openid", "profile", "email", "roles"]
    allow_existing_users: false
    user_mapping_provider:
      config:
        localpart_template: "{{ '{{ user.preferred_username }}' }}"
        display_name_template: "{{ '{{ user.name | default(user.preferred_username, true) }}' }}"
        email_template: "{{ '{{ user.email }}' }}"
    attribute_requirements:
      - attribute: roles
        value: "Staff"
cas_config:
sso:
password_config:
   enabled: false
   pepper: "{{ vault_matrix_secrets.pepper }}"
   policy:
ui_auth:
email:
  smtp_host: 127.0.0.1
  smtp_port: 25
  notif_from: "Arch Linux %(app)s server <noreply@{{ matrix_server_name }}>"
  enable_notifs: true
push:
user_directory:
    prefer_local_users: true
stats:
opentracing:
worker_app: synapse.app.homeserver
worker_replication_host: 127.0.0.1
worker_replication_http_port: 9093
send_federation: false
notify_appservices_from_worker: appservice
federation_sender_instances:
  - federation_sender
worker_replication_secret: "{{ vault_matrix_secrets.worker_replication_secret }}"
redis:
  enabled: true
background_updates:
