{% for name, config in matrix_nginx_config.items() %}
upstream matrix_{{ name }} {
    server 127.0.0.1:{{ config.port }};
}

{% endfor %}
server {
    listen       80;
    listen       [::]:80;
    server_name  {{ matrix_domain }};

    access_log   /var/log/nginx/{{ matrix_domain }}/access.log reduced;
    error_log    /var/log/nginx/{{ matrix_domain }}/error.log;

    include snippets/letsencrypt.conf;

    location / {
        access_log off;
        return 301 https://$server_name$request_uri;
    }
}

server {
    listen       443 ssl http2;
    listen       [::]:443 ssl http2;
    server_name  {{ matrix_domain }};

    access_log   /var/log/nginx/{{ matrix_domain }}/access.log reduced;
    error_log    /var/log/nginx/{{ matrix_domain }}/error.log;

    ssl_certificate      /etc/letsencrypt/live/{{ matrix_domain }}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{ matrix_domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ matrix_domain }}/chain.pem;

{% for name, config in matrix_nginx_config.items() %}
    # {{ name }}
{% for location in config.locations %}
    location {{ location }} {
        access_log   /var/log/nginx/{{ matrix_domain }}/access.log main;
        proxy_pass http://matrix_{{ name }};
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_read_timeout 900s;
    }
{% endfor %}

{% endfor %}
    location = / {
        add_header Content-Type text/plain;
        return 200 "Nothing to see here.";
    }

    location / {
        return 404;
    }
}
