[Default]
LogLevel = Warning
Notifications = Off

[local-archlinux]
Homeserver = https://{{ matrix_domain }}
ListenAddress = 127.0.0.1
ListenPort = 8009
IgnoreVerification = True
UseKeyring = No
DropOldKeys = True
