#jinja2: lstrip_blocks: True
# Arch DevOps keys
{% for user in root_ssh_keys | sort(attribute='key') -%}
	{{ lookup('file', '../pubkeys/' + user.key) }}
{% endfor %}

# Client machines keys
{% for client_key in client_ssh_keys.results %}
command="/usr/bin/borg serve --restrict-to-path {{ backup_dir }}/{{ client_key['item'] }}",no-pty,no-agent-forwarding,no-port-forwarding,no-X11-forwarding,no-user-rc {{ client_key['stdout'] }}
{% endfor %}
