[Service]
Type=oneshot
User={{ aurweb_user }}
WorkingDirectory={{ aurweb_git_dir }}
Environment="GIT_SSH_COMMAND=ssh -o ServerAliveInterval=25"
ExecStart=git push --force --all git@github.com:archlinux/aur.git
