[Unit]
Description=Delete old, empty reserved aurweb pkgbases
Requires=mysqld.service
After=mysqld.service

[Service]
Type=oneshot
User={{ aurweb_user }}
WorkingDirectory={{ aurweb_dir }}
ExecStart=/usr/bin/poetry run aurweb-pkgmaint

NoNewPrivileges=true
LockPersonality=true
CapabilityBoundingSet=

PrivateDevices=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true

MemoryDenyWriteExecute=true
RemoveIPC=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictSUIDSGID=true

RestrictAddressFamilies=AF_UNIX

ProtectHostname=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectClock=true
ProtectProc=noaccess

SystemCallArchitectures=native
