[Unit]
Description=aurweb asgi server

[Service]
RuntimeDirectory={{ aurweb_prom_dir }}
Environment=PROMETHEUS_MULTIPROC_DIR=/run/{{ aurweb_prom_dir }}
User={{ aurweb_user }}
WorkingDirectory={{ aurweb_dir }}
LimitNOFILE=2048
ExecStart=/usr/bin/poetry run gunicorn \
    --log-config {{ aurweb_dir }}/logging.prod.conf \
    --bind {{ aurweb_asgi_bind }} \
    --workers {{ aurweb_workers }} \
    -k uvicorn.workers.UvicornWorker \
    aurweb.asgi:app

[Install]
WantedBy=multi-user.target
