[Unit]
Description=Remove last login IP address of users who did not login since 7 days in aurweb
Requires=mysqld.service
After=mysqld.service

[Service]
Type=oneshot
User={{ aurweb_user }}
WorkingDirectory={{ aurweb_dir }}
ExecStart=/usr/bin/poetry run aurweb-usermaint

NoNewPrivileges=true
LockPersonality=true
CapabilityBoundingSet=

PrivateDevices=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=read-only

MemoryDenyWriteExecute=true
RemoveIPC=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictSUIDSGID=true

RestrictAddressFamilies=AF_UNIX

ProtectHostname=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectClock=true
ProtectProc=noaccess

SystemCallArchitectures=native
