[Unit]
Description=Aurweb Memcached Daemon
After=network.target

[Service]
User={{ aurweb_user }}
Group=memcached
ExecStart=/usr/bin/memcached -l {{ aurweb_memcached_host }} -m {{ aurweb_memcached_memory }} -o modern
Restart=always
NoNewPrivileges=yes
PrivateTmp=yes
ProtectHome=true
PrivateDevices=yes
ProtectSystem=full
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
MemoryDenyWriteExecute=yes

[Install]
WantedBy=multi-user.target
