[Unit]
Description=Update aurweb blacklist
Requires=mysqld.service
After=mysqld.service

[Service]
Type=oneshot
User={{ aurweb_user }}
WorkingDirectory={{ aurweb_dir }}
ExecStart=/usr/bin/poetry run aurweb-aurblup

ReadWritePaths={{ aurweb_dir }}
NoNewPrivileges=true
LockPersonality=true
CapabilityBoundingSet=

PrivateDevices=true
PrivateTmp=true
ProtectSystem=strict

MemoryDenyWriteExecute=true
RemoveIPC=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictSUIDSGID=true

ProtectHostname=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectClock=true
ProtectProc=noaccess

SystemCallArchitectures=native
