[uwsgi]
plugins = cgi
socket = /run/uwsgi/cgit.sock
chown-socket = {{ aurweb_user }}:http
chmod-socket = 770
threads = 4

cgi = /usr/share/webapps/cgit-aurweb/cgit.cgi
uid = {{ aurweb_user }}
gid = http
