[database]
name = {{ aurweb_db }}
user = {{ aurweb_db_user }}
password = {{ vault_aurweb_db_password }}

[options]
{% if maintenance is defined and maintenance %}
enable_maintenance = 1
maintenance-exceptions = {{ maintenance_remote_machine }}
{% else %}
enable-maintenance = 0
{% endif %}
localedir = {{ aurweb_dir }}/web/locale/
cache = {{ aurweb_cache }}
cache_pkginfo_ttl = {{ aurweb_cache_pkginfo_ttl }}
git_clone_uri_anon = https://{{ aurweb_domain }}/%s.git
git_clone_uri_priv = ssh://{{ aurweb_user }}@{{ aurweb_domain }}/%s.git
memcache_servers = {{ aurweb_memcached_socket }}:0

[ratelimit]
request_limit = {{ aurweb_request_limt }}
window_length = {{ aurweb_window_length }}

[fingerprints]
Ed25519 = SHA256:RFzBCUItH9LZS0cKB5UE6ceAYhBD5C8GeOBip8Z11+4
ECDSA = SHA256:uTa/0PndEgPZTf76e1DFqXKJEXKsn7m9ivhLQtzGOCI
RSA =  SHA256:5s5cIyReIfNNVGRFdDbe3hdYiI5OelHGpw2rOUud3Q8

[serve]
repo-path = {{ aurweb_git_dir }}
git-shell-cmd = /usr/bin/sh
ssh-cmdline = ssh {{ aurweb_user }}@{{ aurweb_domain }}

[update]
max-blob-size = 500000

[aurblup]
db-path = {{ aurweb_dir }}/aurblup
server = https://mirror.pkgbuild.com/%s/os/x86_64

[mkpkglists]
packagesfile = {{ aurweb_dir }}/web/html/packages.gz
pkgbasefile = {{ aurweb_dir }}/web/html/pkgbase.gz
userfile = {{ aurweb_dir }}/web/html/users.gz
