[database]
name = {{ aurweb_db }}
user = {{ aurweb_db_user }}
password = {{ vault_aurweb_db_password }}

[options]
{% if maintenance is defined and maintenance %}
enable_maintenance = 1
maintenance-exceptions = {{ maintenance_remote_machine }}
{% else %}
enable-maintenance = 0
{% endif %}
localedir = {{ aurweb_dir }}/web/locale/
cache = {{ aurweb_cache }}
cache_pkginfo_ttl = {{ aurweb_cache_pkginfo_ttl }}
git_clone_uri_anon = https://{{ aurweb_domain }}/%s.git
git_clone_uri_priv = ssh://{{ aurweb_user }}@{{ aurweb_domain }}/%s.git

[ratelimit]
request_limit = {{ aurweb_request_limt }}
window_length = {{ aurweb_window_length }}

[serve]
repo-path = {{ aurweb_git_dir }}
git-shell-cmd = /usr/bin/sh
ssh-cmdline = ssh {{ aurweb_user }}@{{ aurweb_domain }}

[aurblup]
db-path = {{ aurweb_dir }}/aurblup
server = https://mirrors.kernel.org/archlinux/%s/os/x86_64

[mkpkglists]
packagesfile = {{ aurweb_dir }}/web/html/packages.gz
pkgbasefile = {{ aurweb_dir }}/web/html/pkgbase.gz
userfile = {{ aurweb_dir }}/web/html/users.gz
