[Unit]
Description=Minutely archlinux32 repository sync

[Timer]
OnCalendar=minutely
AccuracySec=1m
Persistent=true

[Install]
WantedBy=timers.target
