limit_req_zone $binary_remote_addr zone=testlimit:10m rate=1r/s;
limit_req_status 429;

server {
    include      snippets/listen-80.conf;

    server_name  {{ public_domain }};
    root         /srv/http/test;

    access_log   /var/log/nginx/{{ public_domain }}/access.log main;
    error_log    /var/log/nginx/{{ public_domain }}/error.log;

    include snippets/letsencrypt.conf;

    location / {
        return 301 https://$server_name$request_uri;
    }
}

server {
    include      snippets/listen-443.conf;
    server_name  {{ public_domain }};
    root         /srv/http/test;

    access_log   /var/log/nginx/{{ public_domain }}/access.log main;
    error_log    /var/log/nginx/{{ public_domain }}/error.log;

    acme_certificate     letsencrypt;
    ssl_certificate      $acme_certificate;
    ssl_certificate_key  $acme_certificate_key;

    location /index.html {
        alias /srv/http/test/index.html;
        limit_req zone=testlimit;
    }
}
