[Match]
Name=e*

[Network]
DNS=213.133.98.98
DNS=213.133.99.99
DNS=213.133.100.100
Gateway={{ ipv4_gateway }}
Gateway={{ ipv6_gateway }}

[Address]
Address={{ ipv4_address }}/32
Peer={{ ipv4_gateway }}/32

[Address]
Address={{ ipv6_address }}
