[Match]
Name=e*

[Network]
DNS=213.133.98.98
DNS=213.133.99.99
DNS=213.133.100.100
Gateway={{ ipv4_gateway }}
Gateway={{ ipv6_gateway }}
Domains=archlinux.org.

[Address]
Address={{ ipv4_address }}{{ ipv4_netmask }}
Peer={{ ipv4_gateway }}{{ ipv4_netmask }}

[Address]
Address={{ ipv6_address }}{{ ipv6_netmask }}
