---

# This script is for provisioning a server for first boot.
# Care: It is not idempotent by design.

- name: install_arch
  hosts: all
  remote_user: root
  roles:
    - install_arch
  vars:
    - bootstrap_version: "2020.07.01"
    - sshd_enable_includes: false
