#
# {{ansible_managed}}
#

[Service]
ExecStart=
ExecStart=/usr/bin/postgrey --inet=127.0.0.1:10030 \
          --pidfile=/run/postgrey/postgrey.pid \
          --group=postgrey --user=postgrey \
          --daemonize \
          --delay={{postgrey_delay}} \
          --max-age={{postgrey_max_age}} \
          --retry-window={{postgrey_retry_window}} \
          --greylist-text="Greylisted for %%s seconds"
