---

# deploy tag 'sudo' when this changes
sudo_users:
  - root
  - foutrelis
  - grazzolini
  - heftig
  - jelle
  - svenstaro
  - anthraxx

# deploy tag 'root_ssh' when this changes
root_ssh_keys:
  - foutrelis.pub
  - grazzolini.pub
  - heftig.pub
  - jelle.pub
  - svenstaro.pub
  - anthraxx.pub

# run playbook 'playbooks/tasks/reencrypt-vault-key.yml' when this changes
# before running it, make sure to gpg --lsign-key all of the below keys
root_gpgkeys:
  - 86CFFCA918CF3AF47147588051E8B148A9999C34 # foutrelis
  - ECCAC84C1BA08A6CC8E63FBBF22FB1D78A77AEAB # grazzolini
  - A2FF3A36AAA56654109064AB19802F8B0D70FC30 # heftig
  - E499C79F53C96A54E572FEE1C06086337C50773E # jelle
  - 8FC15A064950A99DD1BD14DD39E4B877E62EB915 # svenstaro
  - E240B57E2C4630BA768E2F26FC1B547C8D8172C8 # anthraxx
