[mailman]
site_owner: root@{{ lists_domain }}
layout: fhs

[database]
class: mailman.database.postgresql.PostgreSQLDatabase
url: postgres://{{ vault_mailman_db_user }}:{{ vault_mailman_db_password }}@/mailman

[webservice]
admin_user: {{ vault_mailman_admin_user }}
admin_pass: {{ vault_mailman_admin_pass }}

[archiver.hyperkitty]
class: mailman_hyperkitty.Archiver
enable: yes
configuration: /etc/mailman-hyperkitty.cfg
