server {
    listen       80;
    listen       [::]:80;
    server_name  mailman.archlinux.org;

    access_log   /var/log/nginx/{{ mailman_domain }}/access.log reduced;
    error_log    /var/log/nginx/{{ mailman_domain }}/error.log;

    include snippets/letsencrypt.conf;

    location / {
        access_log off;
        rewrite ^(.*) https://{{ mailman_domain }}$1 permanent;
    }
}

server {
    listen       443 ssl http2;
    listen       [::]:443 ssl http2;
    server_name  mailman.archlinux.org;

    access_log   /var/log/nginx/{{ mailman_domain }}/access.log reduced;
    error_log    /var/log/nginx/{{ mailman_domain }}/error.log;

    ssl_certificate      /etc/letsencrypt/live/mailman.archlinux.org/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/mailman.archlinux.org/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/mailman.archlinux.org/chain.pem;

    location / {
        access_log off;
        rewrite ^(.*) https://{{ mailman_domain }}$1 permanent;
    }
}
