- name: Install required packages
  pacman: name=rebuilderd,rebuilderd-website state=present

- name: Create ssl cert
  include_role:
    name: certificate
  vars:
    domains: ["{{ rebuilderd_domain }}"]

- name: Configure rebuilderd.conf
  template: src=rebuilderd.conf.j2 dest=/etc/rebuilderd.conf owner=rebuilderd group=rebuilderd mode=0660

- name: Configure rebuilderd-sync.conf
  template: src=rebuilderd-sync.conf.j2 dest=/etc/rebuilderd-sync.conf owner=rebuilderd group=rebuilderd mode=0660

- name: Make nginx log dir
  file: path=/var/log/nginx/{{ rebuilderd_domain }} state=directory owner=root group=root mode=0755

- name: Set up nginx
  template: src=nginx.d.conf.j2 dest=/etc/nginx/nginx.d/rebuilderd.conf owner=root group=root mode=0644
  notify:
    - Reload nginx
  tags: ['nginx']

- name: Create systemd override dir for rebuilderd
  file: path=/etc/systemd/system/rebuilderd.service.d state=directory owner=root group=root mode=0755
  notify:
    - Daemon reload

- name: Configure rebuilderd limits
  template: src=limits.conf dest=/etc/systemd/system/rebuilderd.service.d/override.conf owner=root group=root mode=0644
  notify:
    - Restart rebuilderd

- name: Start and enable rebuilderd
  systemd_service: name=rebuilderd enabled=yes state=started

- name: Start and enable rebuilderd-sync timer for {{ item }}
  systemd_service: name=rebuilderd-sync@archlinux-{{ item }}.timer enabled=yes state=started
  loop: "{{ suites }}"
