#jinja2: lstrip_blocks: True
{% for user in arch_users | sort %}
    {% for group in pubkey_groups | sort %}
        {% if group in arch_users[user].groups %}
            {% set keys = lookup('file', '../pubkeys/'+user+'.pub').split("\n") %}
            {% for key in keys | sort %}
                {% if "command" not in key -%}
                    command="/usr/bin/svnserve --tunnel-user={{user}} -t",restrict {{key}}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
