[uwsgi]
plugins=python
chdir={{ patchwork_dir }}
wsgi-file=patchwork.wsgi
socket=/run/uwsgi/patchwork.sock
chmod-socket=660
virtualenv={{ patchwork_dir }}/env
processes=2
threads=2
master=true
uid=patchwork
gid=http
thunder-lock = true
daemonize=/var/log/uwsgi/patchwork.log
stats=/run/uwsgi/patchwork-stats.sock
