[Unit]
Description=Patchwork notification service
After=network.target

[Service]
Type=oneshot
User=patchwork
WorkingDirectory={{ patchwork_dir }}
ExecStart={{ patchwork_dir }}/env/bin/python manage.py cron

[Install]
WantedBy=multi-user.target
