#
# {{ansible_managed}}
#

#lists.archlinux.org mailman:
{% if not postfix_relayhost %}
gmail.com smtp-ipv4:
{% endif %}
{% if postfix_patchwork_enabled %}
patchwork@archlinux.org patchwork:
{% endif %}
