#
# {{ansible_managed}}
#
# Service Desks
trademarks@archlinux.org gitlab
privacy@archlinux.org gitlab
forum@archlinux.org gitlab
accountsupport@archlinux.org gitlab
mirrors@archlinux.org gitlab
arch-testing-accounts@archlinux.org gitlab
package-sources-licensing@archlinux.org gitlab
