server {
    include snippets/listen-80.conf;

    server_name  {{ sources_domain }};

    access_log   /var/log/nginx/{{ sources_domain }}/access.log reduced;
    access_log   /var/log/nginx/{{ sources_domain }}/access.log.json json_reduced;
    error_log    /var/log/nginx/{{ sources_domain }}/error.log;

    include snippets/letsencrypt.conf;

    location / {
        access_log off;
        return 301 https://$server_name$request_uri;
    }
}

server {
    include      snippets/listen-443.conf;
    server_name  {{ sources_domain }};

    access_log   /var/log/nginx/{{ sources_domain }}/access.log reduced;
    access_log   /var/log/nginx/{{ sources_domain }}/access.log.json json_reduced;
    error_log    /var/log/nginx/{{ sources_domain }}/error.log;

    acme_certificate     letsencrypt;
    ssl_certificate      $acme_certificate;
    ssl_certificate_key  $acme_certificate_key;

    root         {{ sources_dir }};

    autoindex on;
}
