server {
    listen       80;
    listen       [::]:80;
    server_name  {{ sources_domain }};

    access_log   /var/log/nginx/{{ sources_domain }}/access.log reduced;
    access_log   /var/log/nginx/{{ sources_domain }}/access.log.json json_reduced;
    error_log    /var/log/nginx/{{ sources_domain }}/error.log;

    include snippets/letsencrypt.conf;

    location / {
        access_log off;
        return 301 https://$server_name$request_uri;
    }
}

server {
    include      snippets/listen-443.conf;
    server_name  {{ sources_domain }};

    access_log   /var/log/nginx/{{ sources_domain }}/access.log reduced;
    access_log   /var/log/nginx/{{ sources_domain }}/access.log.json json_reduced;
    error_log    /var/log/nginx/{{ sources_domain }}/error.log;

    ssl_certificate      /etc/letsencrypt/live/{{ sources_domain }}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{ sources_domain }}/privkey.pem;

    root         {{ sources_dir }};

    autoindex on;
}
