# We're only running a subset of all available cleanup tasks mentioned on
# https://docs.gitlab.com/ee/raketasks/cleanup.html
# For instance, we're not using LFS so we'e also not cleaning it up. Also,
# some cleanup tasks have timing implications so take great care when adding
# something here!
[Unit]
Description=GitLab Cleanup

[Service]
Type=oneshot
ExecStart=/usr/bin/docker exec -t gitlab gitlab-ctl registry-garbage-collect --delete-manifests --delete-untagged
ExecStart=/usr/bin/docker exec -t gitlab gitlab-rake gitlab:cleanup:project_uploads DRY_RUN=false
ExecStart=/usr/bin/docker exec -t gitlab gitlab-rake gitlab:cleanup:orphan_job_artifact_files DRY_RUN=false DEBUG=1 LIMIT=1000
