[Unit]
Description=Clean up rebuilderd-worker chroots and cache
ConditionPathExists=/var/lib/repro
ConditionPathExists=/var/lib/rebuilderd-worker/cache

[Service]
Type=oneshot
ExecStart=/usr/local/bin/clean-repro
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
