[Unit]
Description=nginx zabbix monitoring
After=nginx.service

[Service]
ExecStart=/usr/local/bin/nginx-zabbix.pl
Restart=on-failure

[Install]
WantedBy=multi-user.target
