server {
    listen       80 default_server;
    listen       [::]:80 default_server;
    root         /srv/http;

    include snippets/letsencrypt.conf;

    location / {
        return 404;
    }
}
