server {
    listen       {{ ipv4_address ~ ':' if nginx_explict_listen_addresses }}80 default_server{{ ' proxy_protocol' if nginx_proxy_protocol_host }};
    listen       [{{ ipv6_address if nginx_explict_listen_addresses else '::' }}]:80 default_server{{ ' proxy_protocol' if nginx_proxy_protocol_host }};

    listen       {{ ipv4_address ~ ':' if nginx_explict_listen_addresses }}443 default_server ssl{{ ' proxy_protocol' if nginx_proxy_protocol_host }};
    listen       [{{ ipv6_address if nginx_explict_listen_addresses else '::' }}]:443 default_server ssl{{ ' proxy_protocol' if nginx_proxy_protocol_host }};
{% if nginx_enable_http3 %}
    listen       {{ ipv4_address ~ ':' if nginx_explict_listen_addresses }}443 default_server quic reuseport;
    listen       [{{ ipv6_address if nginx_explict_listen_addresses else '::' }}]:443 default_server quic reuseport;
{% endif %}
    http2        on;
    ssl_reject_handshake on;
    root         /srv/http;

    include snippets/letsencrypt.conf;

    location / {
        return 404;
    }
}
