-- Based on https://github.com/PowerDNS/pdns/wiki/Lua-Examples-(Authoritative)#updatepolicy-access-control-for-rfc2136-dynamic-updates
function updatepolicy(input)
  acme_challenge_rrname = "_acme-challenge.{{ geo_mirror_domain }}."

  -- only allow updates from our servers
  mynetworks = newNMG()
  mynetworks:addMasks({
{% for host in groups['geo_mirrors'] | sort %}
    '{{ hostvars[host]['ipv4_address'] }}/32',
    '{{ hostvars[host]['ipv6_address'] }}/128',
{% endfor %}
  })

  -- ignore non-authorized networks
  if not mynetworks:match(input:getRemote())
  then
    pdnslog("updatepolicy: network check failed from " .. input:getRemote():toString(), pdns.loglevels.Info)
    return false
  end

  -- ignore non-TSIG requests
  if input:getTsigName():countLabels() == 0
  then
    pdnslog("updatepolicy: missing TSIG", pdns.loglevels.Info)
    return false
  end

  -- only accept TXT record updates for _acme_challenge
  if input:getQType() == pdns.TXT and input:getQName():toString() == acme_challenge_rrname
  then
    pdnslog("updatepolicy: query checks successful", pdns.loglevels.Info)
    return true
  end

  pdnslog("updatepolicy: query checks failed", pdns.loglevels.Info)
  return false
end
