#jinja2:lstrip_blocks: True
---
domains:
  - domain: {{ geo_mirror_domain }}
    ttl: 3600
    records:
      {{ geo_mirror_domain }}:
        - soa: mirror.pkgbuild.com. root.archlinux.org. 2022011501 3600 1800 604800 3600
        - ns: mirror.pkgbuild.com
      {% for host in groups['geo_mirrors'] %}
        - ns: {{ host }}
      {% endfor %}
        - lua:
            ttl: 300
            content: >
              A "ifurlup('https://{{ geo_mirror_domain }}/lastupdate',
              {'{{ groups['geo_mirrors'] | map('extract', hostvars, ['ipv4_address']) | join("', '") }}'},
              {selector='pickclosest', useragent='pdns on {{ inventory_hostname }}'})"
        - lua:
            ttl: 300
            content: >
              AAAA "ifurlup('https://{{ geo_mirror_domain }}/lastupdate',
              {'{{ groups['geo_mirrors'] | map('extract', hostvars, ['ipv6_address']) | join("', '") }}'},
              {selector='pickclosest', useragent='pdns on {{ inventory_hostname }}'})"
      {% if not geomirror_acme_challenge %}
      _acme-challenge.{{ geo_mirror_domain }}:
        - ns: mirror.pkgbuild.com
      {% endif %}
