[Service]
Type=oneshot
User=bumpbuddy
LimitNOFILE=4096
EnvironmentFile=/etc/conf.d/arch-pkg-repo-updater
ExecStart=/usr/bin/ssh-agent bash -c "ssh-add /home/bumpbuddy/.ssh/id_ed25519; arch-pkg-repo-updater update $TARGET_DIR"
