[Unit]
Description=Upstream Release Tracker
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=bumpbuddy
EnvironmentFile=/etc/conf.d/bumpbuddy
ExecStart=/usr/local/bin/bumpbuddy.sh
