<?php

define('DB_DRIVER', 'postgres');
define('DB_USERNAME', '{{kanboard_db_user}}');
define('DB_PASSWORD', '{{kanboard_db_password}}');
define('DB_HOSTNAME', 'localhost');
define('DB_NAME', '{{kanboard_db}}');

define('ENABLE_HSTS', false);
define('ENABLE_URL_REWRITE', true);

define('MAIL_TRANSPORT', 'smtp');
define('MAIL_SMTP_HOSTNAME', 'localhost');
define('MAIL_SMTP_PORT', 25);
define('MAIL_FROM', 'kanboard@archlinux.org');
