<?php

define('DB_DRIVER', 'postgres');
define('DB_USERNAME', '{{kanboard_db_user}}');
define('DB_PASSWORD', '{{kanboard_db_password}}');
define('DB_HOSTNAME', 'localhost');
define('DB_NAME', '{{kanboard_db}}');
