---
archweb_dir: '/srv/http/archweb'
archweb_domain: 'archlinux.org'
archweb_alternate_domains: ['www.archlinux.org', 'master-key.archlinux.org', 'dev.archlinux.org', 'packages.archlinux.org', 'ipxe.archlinux.org', 'planet.archlinux.org']
archweb_domains_redirects:
        'www.archlinux.org': '$request_uri'
        'master-key.archlinux.org': '/master-keys'
        'dev.archlinux.org': '/'
        'packages.archlinux.org': '/packages$request_uri'
        'planet.archlinux.org': '/planet$request_uri'
archweb_domains_templates:
        'ipxe.archlinux.org': 'ipxe.archlinux.org.j2'
archweb_network_check_domain: 'www.archlinux.org'
archweb_allowed_hosts: ["{{ archweb_domain }}", 'ipxe.archlinux.org']
archweb_nginx_conf: '/etc/nginx/nginx.d/archweb.conf'
archweb_repository: 'https://github.com/archlinux/archweb.git'
archweb_version: release_2021-02-13
archweb_pgp_key: ['E499C79F53C96A54E572FEE1C06086337C50773E']
archweb_site: true
archweb_mirrorcheck: false
archweb_mirrorresolv: false
archweb_pgp_import: false
archweb_planet: false
archweb_populate_signoffs: false
archweb_keyring: '/etc/pacman.d/gnupg/pubring.gpg'
archweb_reporead: false
archweb_services: false
archweb_forced_deploy: false
archweb_rsync_iso_origin: 'repos.archlinux.org::kitchensink/iso/'
archweb_rsync_iso_dir: '/srv/ftp/iso/'
archweb_admins: ["('Giancarlo Razzolini', 'grazzolini@archlinux.org')",
                 "('Jelle van der Waa', 'jelle@archlinux.org')"]
archweb_server_email: 'archweb@archlinux.org'

archweb_db: 'archweb'
archweb_db_host: 'localhost'
archweb_db_site_user: 'archweb'
archweb_db_services_user: 'archweb_services'
archweb_db_services_table_objs: 'ALL_IN_SCHEMA'
archweb_db_services_sequence_objs: 'ALL_IN_SCHEMA'
archweb_db_dbscripts_user: 'archweb_dbscripts'
archweb_db_dbscripts_table_objs: 'mirrors_mirror,mirrors_mirrorrsync'
archweb_db_backup_user: 'archweb_backup'
archweb_db_backup_table_objs: 'ALL_IN_SCHEMA'
archweb_db_backup_sequence_objs: 'ALL_IN_SCHEMA'

archweb_retro_repository: 'https://gitlab.archlinux.org/archlinux/archweb-retro.git'
archweb_retro_dir: '/srv/http/archweb-retro'
archweb_retro_commit_hash: '7eee8e20d3970c7c21ecef7ae8c9032e4b4a6d79'
