[uwsgi]
project = archweb 
base = /srv/http/archweb

chdir = %(base)
home = /srv/http/archweb
module = %(project).wsgi

master = true
processes = 4
threads = 2
reload-on-rss = 600

socket = /run/uwsgi/%(project).sock
chown-socket = root:nginx
chmod-socket = 660
vacuum = true
logto = /var/log/archweb.log

plugins = python2
