#
# {{ansible_managed}}
#

[Definition]

# we need to override the default pid path to /run instead of /var/run
pidfile = /run/fail2ban/fail2ban.pid

# redirect to send the log to journald
logtarget = SYSLOG
