#
# {{ansible_managed}}
#

# creates the requisite chains in firewalld when fail2ban starts instead
# of creating them on first use (ie, when first IP is banned)
[Definition]
actionstart_on_demand = false
