#
# {{ansible_managed}}
#

[nginx-limit-req]

enabled = true
filter = nginx-limit-req
logpath = /var/log/nginx/*/error.log
findtime = 1sec
bantime = 1w
maxretry = 1
# Do not fail2ban archweb's rss limit.
ignoreregex = rsslimit
