[Unit]
Description=Synchronize package repository mirror
RequiresMountsFor=/srv/ftp

[Service]
Type=oneshot
ExecStart=/usr/local/bin/syncrepo
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
