[Unit]
Description=Prometheus btrfs Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=node_exporter
ExecStart=/usr/local/bin/btrfs-textcollector.sh {{ prometheus_textfile_dir }}

ReadWritePaths={{ prometheus_textfile_dir }}
PrivateNetwork=true
