MYSQLD_EXPORTER_PASSWORD="{{ vault_monitoring_mysql_password }}"
# TODO: review these settings
MYSQLD_EXPORTER_ARGS="--collect.binlog_size --collect.info_schema.processlist --collect.info_schema.userstats --mysqld.username={{ prometheus_mysqld_user }}"
