apiVersion: 1

providers:
 - name: 'default'
   orgId: 1
   folder: ''
   folderUid: ''
   editable: false
   allowUiUpdates: false
   type: file
   options:
{% if grafana_anonymous_access %}
     path: /var/lib/grafana/public-dashboards
{% else %}
     path: /var/lib/grafana/dashboards
{% endif %}
     foldersFromFilesStructure: true

