apiVersion: 1

datasources:
{% if grafana_anonymous_access %}
- name: Prometheus
  type: prometheus
  access: proxy
  basicAuth: true
  basicAuthUser: {{ vault_prometheus_user }}
  jsonData:
    timeInterval: 1m
  secureJsonData:
    basicAuthPassword: {{ vault_prometheus_passwd }}
  url: http://{{ prometheus_domain }}:9090
{% else %}
- name: Prometheus
  type: prometheus
  access: proxy
  url: http://localhost:9090
  jsonData:
    timeInterval: 1m
- name: Loki
  type: loki
  access: proxy
  url: http://localhost:3100
  jsonData:
    manageAlerts: false
- name: Alertmanager
  type: alertmanager
  access: proxy
  url: http://localhost:9093
  jsonData:
    implementation: prometheus
{% endif %}
