upstream grafana {
	server localhost:3000;
}

server {
    listen       80;
    listen       [::]:80;
    server_name  {{ grafana_domain }};

    access_log   /var/log/nginx/{{ grafana_domain }}/access.log;
    error_log    /var/log/nginx/{{ grafana_domain }}/error.log;

    include snippets/letsencrypt.conf;

    location / {
        rewrite ^(.*) https://$server_name$1 permanent;
    }
}

server {
    listen       443 ssl http2;
    listen       [::]:443 ssl http2;
    server_name  {{ grafana_domain }};

    access_log   /var/log/nginx/{{ grafana_domain }}/access.log;
    error_log    /var/log/nginx/{{ grafana_domain }}/error.log;

    ssl_certificate      /etc/letsencrypt/live/{{ grafana_domain }}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{ grafana_domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ grafana_domain }}/chain.pem;

    root {{ grafana_domain }};

    location / {
		proxy_pass http://grafana;
    }
}
