concurrent = 8
check_interval = 0
listen_address = ":9252"

[session_server]
  session_timeout = 1800

[[runners]]
  name = "{{ inventory_hostname }}"
  url = "https://gitlab.archlinux.org"
  token = "{{ vault_gitlab_runner_token }}"
  executor = "docker"
  [runners.custom_build_dir]
  [runners.cache]
    Type = "s3"
    Shared = true
    [runners.cache.s3]
      ServerAddress = "fsn1.your-objectstorage.com"
      AccessKey = "{{ vault_hetzner_s3_gitlab_runners_access_key }}"
      SecretKey = "{{ vault_hetzner_s3_gitlab_runners_secret_key }}"
      # Also refer to minio_s3_bucket.gitlab_runners_cache in tf-stage1/archlinux.tf
      BucketName = "archlinux-gitlab-runners-cache"
    [runners.cache.gcs]
  [runners.docker]
    tls_verify = false
    image = "registry.archlinux.org/archlinux/archlinux-docker:base-master"
    privileged = false
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = true
    shm_size = 0
    memory = "{{ gitlab_runner_memory_limit_docker }}"
{% if 'gitlab_vm_runners' in group_names %}

[[runners]]
  name = "{{ inventory_hostname }}"
  url = "https://gitlab.archlinux.org"
  token = "{{ vault_gitlab_vm_runner_token }}"
  executor = "custom"
  builds_dir = "/builds"
  cache_dir = "/cache"
  [runners.cache]
    Type = "s3"
    Shared = true
    [runners.cache.s3]
      ServerAddress = "fsn1.your-objectstorage.com"
      AccessKey = "{{ vault_hetzner_s3_gitlab_runners_access_key }}"
      SecretKey = "{{ vault_hetzner_s3_gitlab_runners_secret_key }}"
      # Also refer to minio_s3_bucket.gitlab_runners_cache in tf-stage1/archlinux.tf
      BucketName = "archlinux-gitlab-runners-cache"
  environment = ["ARCHIVER_STAGING_DIR=/var/tmp"]
  [runners.custom]
    prepare_exec = "/usr/local/bin/libvirt-executor"
    prepare_args = [ "prepare" ]

    run_exec = "/usr/local/bin/libvirt-executor"
    run_args = [ "run" ]

    cleanup_exec = "/usr/local/bin/libvirt-executor"
    cleanup_args = [ "cleanup" ]
{% endif %}
