{% for domain in mirror_domains %}
server {
    listen       80;
    listen       [::]:80;
    listen       443 ssl;
    listen       [::]:443 ssl;
    http2        on;
    server_name  {{ domain }};
    root         /srv/ftp;

    access_log   /var/log/nginx/{{ domain }}/access.log reduced;
    access_log   /var/log/nginx/{{ domain }}/access.log.json json_reduced;
    error_log    /var/log/nginx/{{ domain }}/error.log;

    include snippets/letsencrypt.conf;

    ssl_certificate      /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{ domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ domain }}/chain.pem;

{% if 'geo_mirrors' in group_names and domain == geo_mirror_domain %}
    add_header X-Served-By "{{ inventory_hostname }}";
{% endif %}

    autoindex on;
}
{% endfor %}
