server {
    listen       80;
    listen       [::]:80;
    server_name  {{ public_domain }} www.{{ public_domain }};
    root         /srv/public_html;

    access_log   /var/log/nginx/{{ public_domain }}/access.log;
    error_log    /var/log/nginx/{{ public_domain }}/error.log;

    include snippets/letsencrypt.conf;

    location ~ ^/~([A-Za-z0-9]+)(/.*)? {
        alias /home/$1/public_html$2;
        index index.html index.htm;
        autoindex on;
    }
}

server {
    listen       443 ssl http2;
    listen       [::]:443 ssl http2;
    server_name  {{ public_domain }} www.{{ public_domain }};
    root         /srv/public_html;

    access_log   /var/log/nginx/{{ public_domain }}/access.log;
    error_log    /var/log/nginx/{{ public_domain }}/error.log;

{% if certfile.stat.exists %}
    ssl_certificate      /etc/letsencrypt/live/{{ public_domain }}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{ public_domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ public_domain }}/chain.pem;
{% endif %}

    location ~ ^/~([A-Za-z0-9]+)(/.*)? {
        alias /home/$1/public_html$2;
        index index.html index.htm;
        autoindex on;
    }
}
