[Unit]
Description=Apply configuration from HCloud metadata
ConditionVirtualization=kvm
After=systemd-networkd-wait-online.service
Before=network-online.target
Wants=network-online.target
ConditionPathExists=!/etc/systemd/network/10-dhcp-ethernet.network.d/hcloud.conf

[Service]
ExecStart=/usr/local/bin/hcloud-init
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
