[Unit]
Description=PHP-FPM socket for %i

[Socket]
ListenStream=/run/php-fpm/%i.socket
SocketMode=0660
SocketUser=%i
SocketGroup=http

[Install] 
WantedBy=sockets.target
