[Unit]
Description=Synchronize package archive mirror
RequiresMountsFor=/srv/archive

[Service]
Type=oneshot
ExecStart=/usr/local/bin/syncarchive
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
