[Unit]
Description=Update aurweb blacklist
Requires=mysqld.service
After=mysqld.service

[Service]
Type=Oneshot
User=aur
ExecStart=/usr/local/bin/aurweb-aurblup
