---

- name: install misc utils
  pacman:
    state: present
    name:
      - zsh
      - fish
      - git
      - parallel
      - nnn  # Added for it's screen reader support

- name: install extra utils
  pacman: state=present name={{ extra_utils }}
  when: extra_utils is defined
