@import 'login.css';

.login-pf body {
    background: url("../img/login-background.jpg") no-repeat center center fixed;
}

div.kc-logo-text {
    background-image: url('../img/archlinux-logo-light.svg');
    height: 199px;
    width: 600px;
}
