<?php

$db_type = 'mysqli';
$db_host = 'localhost';
$db_name = 'fluxbb';
$db_username = 'fluxbb';
$db_password = '{{ fluxbb_db_password }}';
$db_prefix = 'fluxbb_';
$p_connect = false;

$cookie_name = '{{ fluxbb_cookie_name }}';
$cookie_domain = '';
$cookie_path = '/';
$cookie_secure = 0;
$cookie_seed = '{{ fluxbb_cookie_seed }}';

$arch_home ='http://archlinux.org/';
$arch_navbar = array('Home' => 'http://archlinux.org/',
                      'Packages' => 'http://archlinux.org/packages/',
                      'Forums' => 'https://bbs.archlinux.org/',
                      'Wiki' => 'https://wiki.archlinux.org/',
                      'Bugs' => 'https://bugs.archlinux.org/',
		      'Security' => 'https://security.archlinux.org/',
                      'AUR' => 'https://aur.archlinux.org/',
                      'Download' => 'http://archlinux.org/download/');
$arch_navbar_selected = 'Forums';

$funnyquestion_hash = '{{ fluxbb_funnyquestion_hash }}';
foreach (array(1, 224, 256, 384, 512) as $hash) {
        $funny_questions['What is the output of "date -u +%V$(uname)|sha'.$hash.'sum|sed \'s/\W//g\'"?'] = hash('sha'.$hash, gmdate('W').php_uname('s')."\n");
}

define('PUN', 1);
# Remove once deployed / checkd
define('PUN_TURN_OFF_MAINT', 1);
