server {
    server_name  {{ fluxbb_domain }};

    access_log   /var/log/nginx/{{ fluxbb_domain }}/access.log;
    error_log    /var/log/nginx/{{ fluxbb_domain }}/error.log;

    include snippets/letsencrypt.conf;

    location / {
        rewrite ^(.*) https://{{ fluxbb_domain }}$1 permanent;
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ fluxbb_domain }};
    root {{ fluxbb_dir }};
    index index.php;

    access_log /var/log/nginx/{{ fluxbb_domain }}/access.log;
    error_log /var/log/nginx/{{ fluxbb_domain }}/error.log;

    ssl_certificate      /etc/letsencrypt/live/{{ fluxbb_domain }}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{ fluxbb_domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ fluxbb_domain }}/chain.pem;

    location ~ ^/(?:config|header|footer)\.php {
        log_not_found off;
        deny all;
        return 403;
    }

    location ~ /(cache|include|lang|plugins) {
        log_not_found off;
        deny all;
        return 403;
    }

    location ^~ /style/ {
        expires 7d;
        add_header Pragma public;
        add_header Cache-Control "public, must-revalidate, proxy-revalidate";
    }

    location ^~ /img/ {
        expires 7d;
        add_header Pragma public;
        add_header Cache-Control "public, must-revalidate, proxy-revalidate";
    }

    location ~ ^/(?:db_update|install)\.php {
        auth_basic "Administration";
        auth_basic_user_file auth/{{ fluxbb_domain }};
        fastcgi_pass   unix:/run/php-fpm/fluxbb.socket;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_param  HTTPS            on;
        include        fastcgi_params;
    }

    location ~ ^/[^/]+\.php$ {
        fastcgi_pass   unix:/run/php-fpm/fluxbb.socket;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_param  HTTPS            on;
        include        fastcgi_params;
    }
}
