set postmaster "postmaster@archlinux.org"
set bouncemail
set no spambounce
set daemon 10
set syslog

poll mail.archlinux.org
bad-header accept
proto imap
user {{ fetchmail_user }}
password {{ fetchmail_pass }}
options idle sslcertck ssl sslproto "TLS1.2+" limitflush limit 25000000 fetchall
mda "{{ fetchmail_delivery_cmd }}"
