[Unit]
Description=Archive.org uploader

[Service]
User={{ archive_user_name }}
Type=oneshot
WorkingDirectory={{ archive_user_home }}
ExecStart=/usr/bin/find /srv/archive/packages -mindepth 2 -maxdepth 2 -type d -exec "{{ archive_repo }}/upload_pkg_internetarchive.py" {} +

LimitNOFILE=8192

NoNewPrivileges=true
TimeoutStartSec=6h

#BindPaths={{ archive_user_home }}

#ProtectHome=true
#ProtectSystem=full
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
