server {
    listen       80;
    listen       [::]:80;
    server_name  {{ archive_domain }};

    access_log   /var/log/nginx/{{ archive_domain }}/access.log main;
    error_log    /var/log/nginx/{{ archive_domain }}/error.log;

    include snippets/letsencrypt.conf;

    location / {
        rewrite ^(.*) https://$server_name$1 permanent;
    }
}

server {
    listen       443 ssl http2;
    listen       [::]:443 ssl http2;
    server_name  {{ archive_domain }};

    access_log   /var/log/nginx/{{ archive_domain }}/access.log main;
    error_log    /var/log/nginx/{{ archive_domain }}/error.log;

    ssl_certificate      /etc/letsencrypt/live/{{ archive_domain }}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{ archive_domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ archive_domain }}/chain.pem;

    root         {{ archive_dir }};

    autoindex on;
    autoindex_exact_size off;
}
