RUST_LOG=debug,sqlx=info,hyper_util::client=info
PORT=8080
BASE_URL=https://{{ buildbtw_domain }}
DATABASE_FILE=/var/lib/buildbtw/buildbtw_backend.sqlite
COOKIE_ENCRYPTION_KEY={{ vault_buildbtw_cookie_encryption_key }}
TOKIO_CONSOLE_TELEMETRY=false
