# shellcheck disable=SC2148
# shellcheck disable=SC2034
RUST_LOG=debug,sqlx=info,buildbtw_poc::gitlab=debug,buildbtw_poc::git=info,hyper_util::client=info,gitlab=warn,layout::topo=warn
GITLAB_TOKEN=TODO
GITLAB_DOMAIN=gitlab.archlinux.org
GITLAB_PACKAGES_GROUP=packaging-buildbtw-dev/packages
RUN_BUILDS_ON_GITLAB=true
INTERFACE=127.0.0.1
PORT=8080
BASE_URL="https://{{ buildbtw_domain }}"
DATABASE_URL="sqlite://buildbtw_backend.sqlite?mode=rwc"
TOKIO_CONSOLE_TELEMETRY=false
