[Unit]
Description=buildbtw build coordination service

[Container]
{% if buildbtw_stage == "dev" %}
Image=registry.archlinux.org/archlinux/buildbtw/backend:%i
{% else %}
Image=registry.archlinux.org/archlinux/buildbtw/backend:{{ buildbtw_image_tag }}
{% endif %}
Exec=run
ContainerName=buildbtw-%i
Environment="BUILDBTW_LISTEN=unix:/run/buildbtw/%i.sock:777"
{% if buildbtw_stage == "dev" %}
Environment="BUILDBTW_BASE_URL=https://%i.{{ buildbtw_domain }}"
{% else %}
Environment="BUILDBTW_BASE_URL=https://{{ buildbtw_domain }}"
{% endif %}
Environment="BUILDBTW_DATABASE_FILE=/var/lib/buildbtw/buildbtw-%i.sqlite"
Environment="BUILDBTW_COOKIE_ENCRYPTION_KEY={{ vault_buildbtw_cookie_encryption_key }}"
Environment="RUST_LOG=debug,sqlx=info,hyper_util::client=info"
Pull=newer
Volume={{ buildbtw_dir }}:/var/lib/buildbtw
Volume=/run/buildbtw:/run/buildbtw

[Install]
WantedBy=multi-user.target default.target
{% if buildbtw_stage != "dev" %}
DefaultInstance={{ buildbtw_stage }}
{% endif %}
