#!/bin/bash

set -Eeuxo pipefail

# Undeploy a branch
# ./buildbtw-undeploy-branch.sh <branch>

branch=$1

echo "Undeploying ${branch}"
systemctl stop "buildbtw@${branch}"
{% if buildbtw_stage == "dev" %}
# Manual symlink (as suggested in podman-systemd.unit(5) because this will
# generate a service and generated/transient services can't be enabled. We can
# manually instantiate them, however, to make sure they run on boot.
rm /etc/containers/systemd/buildbtw@${branch}.container
{% endif %}
