[Unit]
Description=Archwiki runJobs Wait Service
After=mysqld.service

[Service]
User={{ archwiki_user }}
WorkingDirectory={{ archwiki_dir }}
ExecStart=/usr/bin/php {{ archwiki_dir }}/public/maintenance/run.php runJobs -q --wait
Restart=on-failure

NoNewPrivileges=true
ProtectHome=true
ProtectSystem=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
