#
# {{ansible_managed}}
#

[wiki-nginx-dos]
enabled = true
filter = nginx-dos
action = iptables-multiport[name=ReqLimit, port="http,https", protocol=tcp]
logpath = /var/log/nginx/wiki.archlinux.org/access.log
# 400 pages in 30 minutes
findtime = 1800
bantime = 1d
maxretry = 400
