[global]
error_log = syslog
daemonize = no

[{{ archwiki_user }}]
listen = {{ archwiki_socket }}
listen.owner = {{ archwiki_user }}
listen.group = http
listen.mode = 0660

pm = dynamic
pm.max_children = 100
pm.start_servers = 20
pm.min_spare_servers = 5
pm.max_spare_servers = 30
pm.max_requests = 2000

php_admin_value[open_basedir] = {{ archwiki_dir }}:/usr/bin/diff3:/usr/bin/diff
php_admin_value[session.save_path] = {{ archwiki_dir }}/sessions
php_admin_value[upload_tmp_dir] = {{ archwiki_dir }}/uploads
env[TMPDIR] = {{ archwiki_dir }}/uploads
php_admin_value[opcache.memory_consumption] = 128
php_admin_value[opcache.interned_strings_buffer] = 8
php_admin_value[opcache.max_accelerated_files] = 4000
php_admin_value[opcache.revalidate_freq] = 60
php_admin_value[opcache.fast_shutdown] = 1
php_admin_value[disable_functions] = passthru, exec, proc_open, shell_exec, system, popen
