#!/bin/bash

set -e

mysql_opts="--defaults-file={{ backup_mysql_defaults }}"
backupdir="{{ backup_mysql_dir }}"

[[ ! -d "$backupdir" ]] && mkdir -p "$backupdir"
rm -rf "${backupdir:?}"/*
mariabackup $mysql_opts --backup --target-dir="$backupdir"
