[Unit]
Description=Update GPG web key directory

[Service]
Type=oneshot
User={{ wkd_user }}
WorkingDirectory={{ wkd_dir }}
ExecStart=/usr/local/bin/update-wkd.sh "{{ wkd_dir }}/.well-known"
TimeoutStartSec=3600

NoNewPrivileges=yes
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target
