server:
	use-syslog: yes
	do-daemonize: no
	username: "unbound"
	directory: "/etc/unbound"
	verbosity: 1
	port: {{ unbound_port }}
	trust-anchor-file: trusted-key.key

remote-control:
	control-enable: yes
