polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.systemd1.manage-units" &&
        action.lookup("unit") == "phrik.service" &&
        subject.isInGroup("phrik")) {
        return polkit.Result.YES;
    }
});
