# We set the repo in the /usr/local/bin/borg wrapper which is enough
$borg_repo = "";

{% if filesystem == "btrfs" %}
@backup_prefixes = (
	{regex => "^/", replacement => "backup-snap/"},
);
{% endif %}

1;

# vim: set ft=perl:
