#!/usr/bin/env bash

set -e

src="/"
snapshotdir="/backup-snap"

##
#  usage : is_btrfs( $path )
# return : whether $path is on a btrfs
# source: makechrootpkg from devtools
##
is_btrfs() {
	[[ -e "$1" && "$(stat -f -c %T "$1")" == btrfs ]]
}

delete_snapshot() {
	btrfs subvolume delete --commit-after "$snapshotdir"
}

if is_btrfs "$src"; then
	if [[ -d "$snapshotdir" ]]; then
		delete_snapshot
	fi
	btrfs subvolume snapshot -r "$src" "$snapshotdir"
	src="$snapshotdir"
fi

systemctl is-active postgresql && /usr/local/bin/backup-postgres.sh || true
if systemctl is-active mysqld || systemctl is-active mariadb; then
    /usr/local/bin/backup-mysql.sh || true
fi

borg create -v --stats -C lz4 \
    -e /proc \
    -e /sys \
    -e /dev \
    -e /run \
    -e /tmp \
    -e /var/cache \
    -e /var/lib/archbuild \
    -e /var/lib/archbuilddest \
    -e "$snapshotdir/var/lib/archbuild" \
    -e "$snapshotdir/var/lib/archbuilddest" \
    -e "$snapshotdir/srv/archive" \
    {{ backup_host }}:{{ backup_dir }}::$(date "+%Y%m%d-%H%M%S") "$src"
borg prune -v {{ backup_host }}:{{ backup_dir }} --keep-daily=7 --keep-weekly=4 --keep-monthly=6

if [[ -d "$snapshotdir" ]]; then
	delete_snapshot
fi

/usr/bin/vendor_perl/borg-restore.pl --update-cache
