#!/usr/bin/env bash

set -e

# In case there is postgresql running, dump all of it somewhere.
systemctl status postgresql && /usr/local/bin/backup-postgres.sh || true

borg create -v --stats -C lz4 \
    -e /proc \
    -e /sys \
    -e /dev \
    -e /run \
    -e /tmp \
    -e /var/cache \
    -e /var/lib/archbuild \
    -e /var/lib/archbuilddest \
    {{ backup_host }}:{{ backup_dir }}::$(date -I) /
borg prune -v {{ backup_host }}:{{ backup_dir }} --keep-daily=7 --keep-weekly=4 --keep-monthly=6
