[Unit]
Description=archewb mirrorcheck
After=network.target

[Service]
Type=oneshot
User=archweb
WorkingDirectory=/srv/http/archweb
# TODO put this in a template for when we also deploy it on other machines
ExecStart=/srv/http/archweb/env/bin/python manage.py mirrorcheck --location 5
ExecStart=/srv/http/archweb/env/bin/python manage.py mirrorcheck --location 6
Nice=5

[Install]
WantedBy=multi-user.target
