server:
  http_listen_address: 127.0.0.1
  http_listen_port: 9080
  grpc_listen_address: 127.0.0.1
  grpc_listen_port: 0 # 0 means random

positions:
  filename: /var/lib/promtail/positions.yaml

clients:
  - url: https://{{ logging_domain }}/loki/api/v1/push
    basic_auth:
      username: '{{ vault_loki_nginx_user }}'
      password: '{{ vault_loki_nginx_passwd }}'

scrape_configs:
  - job_name: journal
    journal:
      json: true
      max_age: 72h
      path: /var/log/journal
      labels:
        job: systemd-journal
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: unit
      - source_labels: ["__journal__hostname"]
        target_label: instance
