[Unit]
Description=The official Arch Linux IRC bugbot

[Service]
EnvironmentFile=/srv/bugbot/env
ExecStart=/srv/bugbot/bugbot.py
Restart=on-failure
ProtectSystem=strict
DynamicUser=yes
PrivateDevices=true
PrivateUsers=true
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelModules=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
RestrictRealtime=true


[Install]
WantedBy=multi-user.target
