BUILDBTW_GITLAB_TOKEN={{ vault_bumpbuddy_gitlab_token }}
TARGET_DIR=/opt/bumpbuddy/source_repos/
BUILDBTW_GITLAB_DOMAIN="https://gitlab.archlinux.org"
BUILDBTW_GITLAB_PACKAGES_GROUP="archlinux/packaging/packages"
