BUILDBTW_GITLAB_TOKEN={{ vault_bumpbuddy_gitlab_token }}
TARGET_DIR=/opt/bumpbuddy/source_repos/
BUILDBTW_GITLAB_DOMAIN="https://gitlab.archlinux.org"
BUILDBTW_GITLAB_SSH_HOST_KEY="gitlab.archlinux.org ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICjT2SuA0k/xc5Cbyp+eBY5uN3bRL2K7GdpNtltOK6vy"
BUILDBTW_GITLAB_PACKAGES_GROUP="archlinux/packaging/packages"
