include snippets/redirect-80.conf;

server {
    include      snippets/listen-443.conf;
    server_name  {{ bumpbuddy_domain }};

    access_log   /var/log/nginx/{{ bumpbuddy_domain }}/access.log main;
    access_log   /var/log/nginx/{{ bumpbuddy_domain }}/access.log.json json_main;
    error_log    /var/log/nginx/{{ bumpbuddy_domain }}/error.log;

    acme_certificate     letsencrypt;
    ssl_certificate      $acme_certificate;
    ssl_certificate_key  $acme_certificate_key;

    root /opt/bumpbuddy/web;

    location = /data.json {
        alias /opt/bumpbuddy/data/data.json;
    }
}
