server {
    include snippets/listen-80.conf;

    server_name  {{ bumpbuddy_domain }};

    access_log   /var/log/nginx/{{ bumpbuddy_domain }}/access.log reduced;
    access_log   /var/log/nginx/{{ bumpbuddy_domain }}/access.log.json json_reduced;
    error_log    /var/log/nginx/{{ bumpbuddy_domain }}/error.log;

    include snippets/letsencrypt.conf;

    location / {
        access_log off;
        return 301 https://$server_name$request_uri;
    }
}

server {
    include      snippets/listen-443.conf;
    server_name  {{ bumpbuddy_domain }};

    access_log   /var/log/nginx/{{ bumpbuddy_domain }}/access.log main;
    access_log   /var/log/nginx/{{ bumpbuddy_domain }}/access.log.json json_main;
    error_log    /var/log/nginx/{{ bumpbuddy_domain }}/error.log;

    acme_certificate     letsencrypt;
    ssl_certificate      $acme_certificate;
    ssl_certificate_key  $acme_certificate_key;

    root /opt/bumpbuddy/web;

    location = /data.json {
        alias /opt/bumpbuddy/data/data.json;
    }
}
