[Unit]
Description=bugbuddy service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/conf.d/bugbuddy
ExecStart=/usr/local/bin/bugbuddy daemon
Restart=on-failure
RestartSec=5s

DynamicUser=true
NoNewPrivileges=yes
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectHostname=true
RestrictRealtime=true
CapabilityBoundingSet=
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
