AlwaysAddARHeader       yes
Canonicalization        relaxed/simple
Domain                  file:/etc/opendkim/domains
KeyFile                 /etc/opendkim/private/{{dkim_selector}}.private
Selector                {{dkim_selector}}
Socket                  local:/var/spool/opendkim/opendkim
Syslog                  Yes
SyslogSuccess           Yes
UMask                   007
UserID                   opendkim

