geoip2 /var/lib/GeoIP/GeoLite2-City.mmdb {
   $geoip2_data_continent_name continent names en;
}

map $geoip2_data_continent_name $preferred_upstream {
    default ger.mirror.pkgbuild.com;
    'Africa' ger.mirror.pkgbuild.com;
    'Asia' jpn.mirror.pkgbuild.com;
    'Europe' ger.mirror.pkgbuild.com;
    'Oceania' jpn.mirror.pkgbuild.com;
}

log_format loadbalancer
    '$host [$time_local] "$request" '
    '$status $body_bytes_sent "$http_referer" '
    '"$http_user_agent" dispatched to $scheme://$preferred_upstream$request_uri';

server {
    listen       80;
    listen       [::]:80;
    listen       443 ssl http2;
    listen       [::]:443 ssl http2;
    server_name  {{ mirror_domain }};

    access_log   /var/log/nginx/{{ mirror_domain }}/access.log loadbalancer;
    error_log    /var/log/nginx/{{ mirror_domain }}/error.log;

    include snippets/letsencrypt.conf;

    ssl_certificate      /etc/letsencrypt/live/{{ mirror_domain }}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{ mirror_domain }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ mirror_domain }}/chain.pem;

    location / {
        return $scheme://$preferred_upstream$request_uri;
    }
}
