[Unit]
Description=Synchronize RISC-V mirror
RequiresMountsFor=/srv/riscv
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/syncriscv
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
