[Unit]
Description=Borg backup

Wants=borg-backup-offsite.service
Before=borg-backup-offsite.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/borg-backup.sh
