#jinja2: lstrip_blocks: True
{% for user in root_ssh_keys | sort(attribute="key") -%}
	{% if not user.hosts or inventory_hostname in user.hosts -%}
		{{ lookup('file', '../pubkeys/' + user.key ) }}
	{% endif %}
{% endfor %}
