[Unit]
Description=Clean up old chroots
After=var-lib-archbuild.mount

[Service]
Type=oneshot
ExecStart=/usr/local/bin/clean-chroots
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
