[Unit]
Description=Build of %I
RequiresMountsFor=/var/lib/archbuild

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mkpkg %I
CPUSchedulingPolicy=batch
