[Unit]
Description=Build chroots

[Mount]
What=tmpfs
Where=/var/lib/archbuild
Type=tmpfs
Options=size=50G,mode=0755,strictatime

[Install]
WantedBy=local-fs.target
