dns_rfc2136_server = {{ certbot_rfc2136_server }}
dns_rfc2136_name = {{ certbot_rfc2136_key }}
dns_rfc2136_secret = {{ certbot_rfc2136_secret }}
dns_rfc2136_algorithm = {{ certbot_rfc2136_algorithm }}
