PYTHONUNBUFFERED=1
ADMIN_NICKS="{{bugbot_admins | join(',')}}"
IRC_HOST="{{irc_host}}"
IRC_PORT="{{irc_port}}"
IRC_CHANNEL="{{irc_channel}}"

NICKSERV_IDENTIFY="{{ bugbot_identify_password }}"
BUGTRACKER_USER="{{ bugtracker_user }}"
BUGTRACKER_PASS="{{ bugtracker_pass }}"
