set $bypass 0;

{% for host in (groups['gitlab_runners'] + ['repos.archlinux.org'])  %}
# {{ host }}
if ($remote_addr = "{{ hostvars[host]['ipv4_address'] }}") {
  set $bypass 1;
}

if ($remote_addr = "{{ hostvars[host]['ipv6_address'] }}") {
  set $bypass 1;
}

{% endfor %}
proxy_set_header Gitlab-Bypass-Rate-Limiting $bypass;
