domain {
  {{ rspamd_dkim_domain }} {
    selectors [
      {
        selector = "dkim-ed25519";
        path = "/var/lib/rspamd/dkim/{{ rspamd_dkim_domain }}.dkim-ed25519.key";
      },
      {
        selector = "dkim-rsa";
        path = "/var/lib/rspamd/dkim/{{ rspamd_dkim_domain }}.dkim-rsa.key";
      }
    ]
  }
}

check_pubkey = true;
allow_pubkey_mismatch = false;
allow_hdrfrom_mismatch = false;
allow_hdrfrom_mismatch_sign_networks = true;
allow_username_mismatch = true;
use_domain = "header";
sign_authenticated = true;
use_esld = {{ 'true' if rspamd_dkim_use_esld else 'false' }};
