@import 'login.css';

.login-pf body {
    background: url("../img/login-background.jpg") no-repeat center center fixed;
}

div.kc-logo-text {
    background-image: url('../img/archlinux-logo-light.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

@media(max-width: 767px) {
    div.kc-logo-text {
        height: 45px;
    }
}
