Welcome to {{inventory_hostname}}.

{% if 'borg-clients' in group_names %}
Data on this system is regularly backed up automatically.
{% else %}
[1;31mThis system IS NOT backed up.[0m Please ensure you DO NOT keep valuable data here!
{% endif %}

{% if 'buildservers' in group_names %}
[1;32mUsage Info[0m
  - Use the [1mdevtools[0m helpers to build packages.
  - Don't forget to set your [1mPACKAGER[0m in [1;34m~/.makepkg.conf[0m.
  - [1mChroots[0m are kept in [1;34m/var/lib/archbuild[0m (~chroots).
  - [1mSRCDEST[0m is set to [1;34m/var/lib/archbuilddest/srcdest[0m (~srcdest).
  - Take a look at [1mmkpkg -hh[0m if you want to build nightlies.

  Package diff tools:
    [1mdiffrepo[0m    : Lightweight alternative to checkpkg. Only diffs filenames.
    [1mpkgdiffrepo[0m : Heavyweight alternative to checkpkg. Uses pkgdiff.

[1;32mOctober 11, 2016[0m
  Added [1mgitpkg[0m, an experimental script written to maintain GNOME git packages.
  May also fit other packages.

[1;32mMarch 20, 2018[0m
  pkgbuild.com was moved to a [1mnew server[0m (again)! This one has 48 threads and
  a RAID0 btrfs NVMe. Should make things pretty fast.
{% endif %}
