monitoring_domain: monitoring.archlinux.org
gitlab_runner_exporter_port: '9252'
prometheus_domain: "{{ hostvars['dashboards.archlinux.org']['wireguard_address'] }}"
prometheus_mysqld_exporter_port: '9104'
prometheus_receive_only: false
prometheus_remote_write_relabel_configs:
  - label: [job]
    regex: debuginfod
  - label: [job]
    regex: aurweb
  - label: [job]
    regex: goaurrpc
  - label: [__name__]
    regex: "archive_directory_size_bytes|archive_total_packages|rebuilderd_results|rebuilderd_workers|rebuilderd_queue_length|repository_directory_size_bytes|aur_.+"
  - label: [__name__, device, instance]
    regex: "node_network_transmit_bytes_total;en.*;.*\\\\.mirror\\\\.pkgbuild\\\\.com"
  - label: [__name__, instance]
    regex: "pdns_auth_udp_queries;.*\\\\.mirror\\\\.pkgbuild\\\\.com"

blackbox_targets:
  http_prometheus:
    - targets: "{{ groups['geo_mirrors'] }}"
      hostname: geo.mirror.pkgbuild.com
      secure: true
    - targets: "{{ groups['geo_mirrors'] }}"
      hostname: riscv.mirror.pkgbuild.com
      secure: true
    - http://{{ hostvars['monitoring.archlinux.org']['wireguard_address'] }}

    # regenerate the list below with: ./misc/find-arch-on-crt.sh targets
    - https://accounts.archlinux.org
    - https://alpm.archlinux.page/
    - https://archinstall.archlinux.page
    - https://archive.archlinux.org
    - https://archlinux.org
    - https://archlinux.page
    - https://aur.archlinux.org
    - https://bbs.archlinux.org
    - https://berlin.mirror.pkgbuild.com
    - https://bugs.archlinux.org
    - https://bumpbuddy.archlinux.org
    - https://conf.archlinux.org
    - https://dashboards.archlinux.org/healthz
    - https://debuginfod.archlinux.org
    - https://europe.archive.pkgbuild.com
    - https://europe.mirror.pkgbuild.com
    - https://gitlab.archlinux.org
    - https://ipxe.archlinux.org
    - https://johannesburg.mirror.pkgbuild.com
    - https://lists.archlinux.org
    - https://london.mirror.pkgbuild.com
    - https://losangeles.mirror.pkgbuild.com
    - https://mailman.archlinux.org
    - https://man.archlinux.org
    - https://manual.archlinux.page
    - https://master-key.archlinux.org
    - https://matrix.archlinux.org
    - https://md.archlinux.org
    - https://mirror.pkgbuild.com
    - https://monitoring.archlinux.org/healthz
    - https://monthly-reports.archlinux.page
    - https://mta-sts.archlinux.org/.well-known/mta-sts.txt
    - https://mta-sts.aur.archlinux.org/.well-known/mta-sts.txt
    - https://mta-sts.gitlab.archlinux.org/.well-known/mta-sts.txt
    - https://mta-sts.lists.archlinux.org/.well-known/mta-sts.txt
    - https://mta-sts.master-key.archlinux.org/.well-known/mta-sts.txt
    - https://openpgpkey.archlinux.org/.well-known/openpgpkey/archlinux.org/policy
    - https://openpgpkey.master-key.archlinux.org/.well-known/openpgpkey/master-key.archlinux.org/policy
    - https://package-maintainer-bylaws.aur.archlinux.org
    - https://packages.archlinux.org
    - https://pacman.archlinux.page
    - https://patchwork.archlinux.org
    - https://ping.archlinux.org
    - https://pkgbuild.com
    - https://planet.archlinux.org
    - https://registry.archlinux.org
    - https://repod.archlinux.page
    - https://repos.archlinux.org/lastupdate
    - https://reproducible.archlinux.org
    - https://rfc.archlinux.page
    - https://security.archlinux.org
    - https://signstar.archlinux.page/
    - https://singapore.mirror.pkgbuild.com
    - https://sources.archlinux.org
    - https://static.conf.archlinux.org/README.md
    - https://sydney.mirror.pkgbuild.com
    - https://taipei.mirror.pkgbuild.com
    - https://terms.archlinux.org
    - https://tu-bylaws.aur.archlinux.org
    - https://whatcanidofor.archlinux.org
    - https://wiki.archlinux.org
    - https://www.archlinux.org
    - https://www.pkgbuild.com
  tls_connect:
    - mail.archlinux.org:465
    - mail.archlinux.org:993
    - mumble.archlinux.org:64738
    - coc.archlinux.org:443
    - git.archlinux.org:443
    - rsync.archlinux.org:443
  smtp_starttls:
    - mail.archlinux.org:25
    - lists.archlinux.org:25
  geo_dns_geo.mirror.pkgbuild.com_a: "{{ groups['geo_mirror_name_servers'] }}"
  geo_dns_geo.mirror.pkgbuild.com_aaaa: "{{ groups['geo_mirror_name_servers'] }}"
  geo_dns_geo.mirror.pkgbuild.com_https: "{{ groups['geo_mirror_name_servers'] }}"
  geo_dns_riscv.mirror.pkgbuild.com_a: "{{ groups['geo_mirror_name_servers'] }}"
  geo_dns_riscv.mirror.pkgbuild.com_aaaa: "{{ groups['geo_mirror_name_servers'] }}"
  geo_dns_riscv.mirror.pkgbuild.com_https: "{{ groups['geo_mirror_name_servers'] }}"
matrix_metrics_endpoints:
  - homeserver
  - appservice
  - federation_reader
  - federation_writer
  - media_repository
