GLUEBUDDY_GITLAB_TOKEN={{ vault_gitlab_gluebuddy_token }}
GLUEBUDDY_KEYCLOAK_USERNAME=gluebuddy
GLUEBUDDY_KEYCLOAK_PASSWORD={{ vault_keycloak_gluebuddy_openid_client_secret }}
GLUEBUDDY_KEYCLOAK_REALM=archlinux
GLUEBUDDY_KEYCLOAK_URL=https://accounts.archlinux.org
