---
- name: common playbook for archive-mirrors
  hosts: archive_mirrors
  remote_user: root
  roles:
    - { role: common }
    - { role: tools }
    - { role: firewalld }
    - { role: hardening }
    - { role: sshd }
    - { role: root_ssh }
    - { role: certbot }
    - { role: nginx }
    - { role: unbound }
    - { role: syncarchive }
    - { role: archive_web }
