- name: Setup aur.archlinux.org
  hosts: aur.archlinux.org
  remote_user: root
  roles:
    - { role: common }
    - { role: sshd }
    - { role: root_ssh }
    - { role: prometheus_exporters }
    - { role: promtail }
    - { role: nginx }
    - { role: mariadb, mariadb_innodb_buffer_pool_size: '1G', mariadb_innodb_disable_snapshot_isolation: true }
    - { role: sudo }
    - { role: valkey }
    - { role: uwsgi }
    - { role: borg_client, tags: ["borg"] }
    - { role: postfix_null }
    - { role: fail2ban }
    - { role: anubis }
    - { role: aurweb }
    - { role: wireguard }
