- name: Setup bbs.archlinux.org
  hosts: bbs.archlinux.org
  remote_user: root
  roles:
    - { role: common }
    - { role: sshd }
    - { role: root_ssh }
    - { role: nginx }
    - { role: mariadb, mariadb_query_cache_type: '0', mariadb_innodb_buffer_pool_size: '512M', mariadb_innodb_disable_snapshot_isolation: true }
    - { role: sudo }
    - { role: php_fpm, php_extensions: ['apcu', 'iconv', 'intl', 'mysqli'], zend_extensions: ['opcache'] }
    - { role: fluxbb }
    - { role: borg_client, tags: ["borg"] }
    - { role: postfix_null }
    - { role: fail2ban }
    - { role: prometheus_exporters }
    - { role: promtail }
    - { role: wireguard }
