---

- name: setup bugs.archlinux.org
  hosts: bugs.archlinux.org
  remote_user: root
  roles:
    - { role: common }
    - { role: tools }
    - { role: sshd }
    - { role: root_ssh }
    - { role: certbot }
    - { role: nginx }
    - { role: mariadb }
    - { role: sudo }
    - { role: php7_fpm, php_extensions: ['mysqli'], zend_extensions: ['opcache'] }
    - { role: flyspray }
    - { role: borg_client, tags: ["borg"] }
    - { role: postfix_null }
    - { role: fail2ban }
    - { role: prometheus_exporters }
    - { role: promtail }
    - { role: wireguard }
