- name: Setup buildbtw
  hosts: buildbtw
  remote_user: root
  roles:
    - { role: common }
    - { role: firewalld }
    - { role: wireguard }
    - { role: sshd }
    - { role: root_ssh }
    - { role: borg_client, tags: ["borg"] }
    - { role: certbot }
    - { role: nginx }
    - { role: fail2ban }
    - { role: prometheus_exporters }
    - { role: promtail }
    - { role: certbot }
    - { role: buildbtw }
