- name: Setup build.archlinux.org
  hosts: build.archlinux.org
  remote_user: root
  roles:
    - { role: common }
    - { role: tools, extra_utils: ['setconf', 'mlocate'] }
    - { role: firewalld }
    - { role: sshd }
    - { role: root_ssh }
    - { role: archusers }
    - { role: sudo, tags: ['archusers'] }
    - { role: mirrorsync }
    - { role: archbuild }
    - { role: fail2ban }
    - { role: wireguard }
    - { role: prometheus_exporters }
    - { role: promtail }
