- name: Setup debuginfod.archlinux.org
  hosts: debuginfod.archlinux.org
  remote_user: root
  roles:
    - { role: common }
    - { role: firewalld }
    - { role: wireguard }
    - { role: hardening }
    - { role: sshd }
    - { role: root_ssh }
    - { role: nginx }
    - { role: debuginfod }
    - { role: mirrorsync }
    - { role: prometheus_exporters }
    - { role: promtail }
