---

- name: setup homedir.archlinux.org
  hosts: homedir.archlinux.org
  remote_user: root
  roles:
    - { role: common }
    - { role: tools }
    - { role: sshd }
    - { role: root_ssh }
    - { role: certbot }
    - { role: nginx }
    - { role: archusers }
    - { role: public_html, public_domain: "pkgbuild.com", tags: ['nginx'] }
    - { role: borg_client, tags: ["borg"] }
    - { role: prometheus_exporters }
