- name: setup mail.archlinux.org
  hosts: mail.archlinux.org
  remote_user: root
  roles:
    - { role: common }
    - { role: sshd }
    - { role: root_ssh }
    - { role: borg_client, tags: ['borg'] }
    - { role: certbot }
    - { role: nginx }
    - { role: mta_sts }
    - { role: postfix, tags: ['mail'] }
    - { role: dovecot }
    - { role: rspamd, rspamd_dkim_domain: archlinux.org, tags: ["mail"] }
    - { role: unbound, unbound_port: 5353, tags: ["mail"] }
    - { role: postfwd, tags: ['mail'] }
    - { role: archusers, shell_override: '/bin/bash', archusers_ssh_options: 'command="/usr/bin/passwd",restrict,pty' }
    - { role: fail2ban }
    - { role: prometheus_exporters }
    - { role: promtail }
    - { role: wireguard }
