- name: Setup prometheus server
  hosts: monitoring.archlinux.org
  remote_user: root
  roles:
    - { role: firewalld }
    - { role: wireguard }
    - { role: common }
    - { role: sshd }
    - { role: root_ssh }
    - { role: hardening }
    - { role: borg_client, tags: ["borg"], when: "'borg_clients' in group_names" }
    - { role: prometheus }
    - { role: alertmanager }
    - { role: prometheus_exporters }
    - { role: loki }
    - { role: promtail }
    - { role: certbot }
    - { role: nginx }
    - { role: grafana, grafana_domain: 'monitoring.archlinux.org' }
    - { role: fail2ban }
