- name: Setup phrik bot server
  hosts: phrik.archlinux.org
  remote_user: root
  roles:
    - { role: common }
    - { role: archusers }
    - { role: phrik }
    - { role: sshd }
    - { role: root_ssh }
    - { role: prometheus_exporters }
    - { role: promtail }
    - { role: wireguard }
