- name: Setup redirect.archlinux.org
  hosts: redirect.archlinux.org
  remote_user: root
  roles:
    - { role: common }
    - { role: firewalld }
    - { role: wireguard }
    - { role: sshd }
    - { role: root_ssh }
    - { role: nginx }
    - { role: redirects }
    - { role: prometheus_exporters }
    - { role: promtail }
    - { role: hardening }
    - { role: ping }
    - { role: dyn_dns }
