---

- name: setup reproducible builds rebuilder
  hosts: reproducible.archlinux.org
  remote_user: root
  roles:
    - { role: common }
    - { role: tools }
    - { role: firewalld }
    - { role: sshd }
    - { role: unbound }
    - { role: root_ssh }
    - { role: borg_client, tags: ["borg"] }
    - { role: certbot }
    - { role: nginx }
    - { role: rebuilderd }
    - { role: prometheus_exporters }
    - { role: fail2ban }
