- name: Setup test.pkgbuild.com
  hosts: test.pkgbuild.com
  remote_user: root
  roles:
    - { role: common }
    - { role: tools }
    - { role: firewalld }
    - { role: wireguard }
    - { role: sshd }
    - { role: root_ssh }
    - { role: nginx }
    - { role: fail2ban }
    - { role: prometheus_exporters }
    - { role: proxy_test, public_domain: 'test.pkgbuild.com' }
