- name: Setup wiki.archlinux.org
  hosts: wiki.archlinux.org
  remote_user: root
  roles:
    - { role: firewalld }
    - { role: wireguard }
    - { role: common }
    - { role: sshd }
    - { role: root_ssh }
    - { role: borg_client, tags: ["borg"] }
    - { role: nginx }
    - { role: postfix_null }
    - { role: mariadb }
    - { role: sudo }
    - { role: php_fpm, php_extensions: ['bcmath', 'curl', 'gd', 'iconv', 'intl', 'mysqli', 'sockets', 'zip'] }
    - { role: memcached }
    - { role: anubis }
    - { role: archwiki }
    - { role: fail2ban }
    - { role: prometheus_exporters }
    - { role: promtail }
