[Unit]
Description=Synchronize debug packages
RequiresMountsFor=/srv/ftp
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/syncdebug
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
