---

- name: install memcached
  pacman: name=memcached state=present

- name: put memcached.conf into tmpfiles
  template: src=memcached-tmpfiles.d.j2 dest=/etc/tmpfiles.d/memcached.conf owner=root group=root mode=0644
  register: memcachedtmpfiles

- name: use tmpfiles.d/memcached.conf
  command: systemd-tmpfiles --create
  when: memcachedtmpfiles.changed
