global:
  resolve_timeout: 5m
  smtp_smarthost: 'mail.archlinux.org:587'
  smtp_from: 'alertmanager@archlinux.org'
  smtp_require_tls: true
  smtp_auth_username: alertmanager
  smtp_auth_password: {{ vault_monitoring_alertmanager_smtp_pass }}

route:
  group_by: ['instance', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 24h
  receiver: 'default-receiver'
  routes:
  - receiver: 'rebuilderd'
    match_re:
      service: rebuilderd

receivers:
  - name: 'default-receiver'
    email_configs:
      - to: 'alerts@archlinux.org'
  - name: 'rebuilderd'
    email_configs:
      - to: 'jelle@archlinux.org'
