global:
  resolve_timeout: 5m
  smtp_smarthost: 'mail.archlinux.org:465'
  smtp_from: 'alertmanager@archlinux.org'
  smtp_require_tls: false
  smtp_auth_username: alertmanager
  smtp_auth_password: {{ vault_monitoring_alertmanager_smtp_pass }}

route:
  group_by: ['instance', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 24h
  receiver: 'default-receiver'
  routes:
  - receiver: 'rebuilderd'
    match_re:
      service: rebuilderd
  - group_wait: 4h
    group_interval: 2h
    group_by: ['service']
    match:
      service: pacman

receivers:
  - name: 'default-receiver'
    email_configs:
      - to: 'alerts@archlinux.org'
    webhook_configs:
    - http_config:
        bearer_token: {{ vault_monitoring_alertmanager_webhook_bearer_token }}
      send_resolved: true
      url: https://gitlab.archlinux.org/archlinux/infrastructure/prometheus/alerts/notify.json
  - name: 'rebuilderd'
    email_configs:
      - to: 'jelle@archlinux.org'
