aurweb_asgi_bind: '127.0.0.1:8000'

aurweb_domain: 'aur.archlinux.org'
aurweb_repository: 'https://gitlab.archlinux.org/archlinux/aurweb.git'
aurweb_dir: '/srv/http/aurweb'
aurweb_prom_dir: 'aurweb-prom'
aurweb_conf_dir: '/etc/aurweb'
aurweb_git_dir: "{{ aurweb_dir }}/aur.git"
aurweb_git_hook: '/usr/local/bin/aurweb-git-update'
aurweb_nginx_conf: '/etc/nginx/nginx.d/aurweb.conf'
aurweb_version: 'v6.2.9'
aurweb_pgp_keys: ['B4B759625D4633430B74877059E43E106B247368', 'DB650286BD9EAE39890D3FE6FE3DC1668CB24956', 'D5AD89388A7C6C9C22E790994A4760AB4EE15296']

aurweb_db: 'aur'
aurweb_db_host: 'localhost'
aurweb_db_user: 'aur'

aurweb_user: 'aur'
cgit_socket: '/run/uwsgi/cgit.sock'
smartgit_socket: '/run/uwsgi/smartgit.sock'

aurweb_cache: 'redis'
aurweb_cache_pkginfo_ttl: '86400'
aurweb_request_limt: '4000'
aurweb_window_length: '86400'
aurweb_memcached_memory: 2048

aurweb_workers: 4
aurweb_environment_type: 'prod'

# aurweb timers and services are installed and restarted by default,
# unless .install and .restart are explicitly set to "false"
aurweb_timers:
  - { name: "aurweb-git.timer" }
  - { name: "aurweb-aurblup.timer" }
  - { name: "aurweb-mkpkglists.timer" }
  - { name: "aurweb-pkgmaint.timer" }
  - { name: "aurweb-popupdate.timer" }
  - { name: "aurweb-votereminder.timer" }
  - { name: "aurweb-usermaint.timer" }
  - { name: "aurweb-github-mirror.timer", install: "{{ aurweb_environment_type == 'prod' }}", restart: "{{ aurweb_environment_type == 'prod' }}" }

aurweb_services:
  - { name: "aurweb-git.service", restart: false }
  - { name: "aurweb-aurblup.service", restart: false }
  - { name: "aurweb-mkpkglists.service", restart: false }
  - { name: "aurweb-pkgmaint.service", restart: false }
  - { name: "aurweb-popupdate.service", restart: false }
  - { name: "aurweb-votereminder.service", restart: false }
  - { name: "aurweb-usermaint.service", restart: false }
  - { name: "aurweb-github-mirror.service", install: "{{ aurweb_environment_type == 'prod' }}", restart: false }
  - { name: "aurweb.service" }
  - { name: "goaurrpc.service", install: false }
