server {
    include snippets/listen-80.conf;

    server_name  {{ rebuilderd_domain }};

    access_log   /var/log/nginx/{{ rebuilderd_domain }}/access.log reduced;
    access_log   /var/log/nginx/{{ rebuilderd_domain }}/access.log.json json_reduced;
    error_log    /var/log/nginx/{{ rebuilderd_domain }}/error.log;

    include snippets/letsencrypt.conf;

    location / {
        access_log off;
        return 301 https://$server_name$request_uri;
    }
}

server {
    include      snippets/listen-443.conf;
    server_name  {{ rebuilderd_domain }};

    access_log   /var/log/nginx/{{ rebuilderd_domain }}/access.log reduced;
    access_log   /var/log/nginx/{{ rebuilderd_domain }}/access.log.json json_reduced;
    error_log    /var/log/nginx/{{ rebuilderd_domain }}/error.log;

    ssl_certificate      /etc/letsencrypt/live/{{ rebuilderd_domain }}/fullchain.pem;
    ssl_certificate_key  /etc/letsencrypt/live/{{ rebuilderd_domain }}/privkey.pem;

    # Security headers
    include snippets/headers.conf;
    add_header X-Frame-Options "SAMEORIGIN" always;
    add_header X-Xss-Protection "1; mode=block" always;
    add_header Referrer-Policy "same-origin";
    add_header Feature-Policy "geolocation 'none' ;midi 'none'; sync-xhr 'none'; microphone 'none'; camera 'none'; magnetometer 'none'; gyroscope 'none'; fullscreen 'none'; payment 'none';";
    add_header Content-Security-Policy "default-src 'self';";
    add_header X-Content-Type-Options "nosniff" always;

    root {{ rebuilder_website_loc }};

    location ~* (css|js|svg)$ {
        expires 30d;
        include snippets/headers.conf;
        add_header Pragma public;
        add_header Cache-Control "public, must-revalidate, proxy-revalidate";
    }

    location /api/ {
        proxy_set_header    X-Real-IP          $remote_addr;
        proxy_pass http://127.0.0.1:8484;
    }

    location = /api/v0/build/report {
        client_max_body_size 200M;
        proxy_set_header    X-Real-IP          $remote_addr;
        proxy_pass http://127.0.0.1:8484;
    }
}
