[profile."archlinux-core"]
distro = "archlinux"
suite = "core"
architecture = "x86_64"
source = "https://mirror.pkgbuild.com/$repo/os/$arch"

[profile."archlinux-extra"]
distro = "archlinux"
suite = "extra"
architecture = "x86_64"
source = "https://mirror.pkgbuild.com/$repo/os/$arch"
excludes = [""]

[profile."archlinux-community"]
distro = "archlinux"
suite = "community"
architecture = "x86_64"
source = "https://mirror.pkgbuild.com/$repo/os/$arch"
excludes = ["cuda*", "tensorflow*", "*pytorch*", "*kube*", "python-tensorflow*"]
