[profile."archlinux-core"]
distro = "archlinux"
suite = "core"
architectures = ["x86_64"]
source = "https://geo.mirror.pkgbuild.com/$repo/os/$arch"

[profile."archlinux-core-testing"]
distro = "archlinux"
suite = "core-testing"
architectures = ["x86_64"]
source = "https://geo.mirror.pkgbuild.com/$repo/os/$arch"

[profile."archlinux-extra"]
distro = "archlinux"
suite = "extra"
architectures = ["x86_64"]
source = "https://geo.mirror.pkgbuild.com/$repo/os/$arch"
excludes = ["cuda*", "tensorflow*", "*pytorch*", "*kube*", "python-tensorflow*"]

[profile."archlinux-extra-testing"]
distro = "archlinux"
suite = "extra-testing"
architectures = ["x86_64"]
source = "https://geo.mirror.pkgbuild.com/$repo/os/$arch"
excludes = ["cuda*", "tensorflow*", "*pytorch*", "*kube*", "python-tensorflow*"]
