[profile."archlinux-core"]
distro = "archlinux"
suite = "core"
architectures = ["x86_64"]
source = "https://europe.mirror.pkgbuild.com/$repo/os/$arch"

[profile."archlinux-extra"]
distro = "archlinux"
suite = "extra"
architectures = ["x86_64"]
source = "https://europe.mirror.pkgbuild.com/$repo/os/$arch"
excludes = [""]

[profile."archlinux-testing"]
distro = "archlinux"
suite = "testing"
architectures = ["x86_64"]
source = "https://europe.mirror.pkgbuild.com/$repo/os/$arch"
excludes = [""]

[profile."archlinux-community"]
distro = "archlinux"
suite = "community"
architectures = ["x86_64"]
source = "https://europe.mirror.pkgbuild.com/$repo/os/$arch"
excludes = ["cuda*", "tensorflow*", "*pytorch*", "*kube*", "python-tensorflow*"]

[profile."archlinux-community-testing"]
distro = "archlinux"
suite = "community-testing"
architectures = ["x86_64"]
source = "https://europe.mirror.pkgbuild.com/$repo/os/$arch"
excludes = ["cuda*", "tensorflow*", "*pytorch*", "*kube*", "python-tensorflow*"]
