[Unit]
Description=Security Tracker update timer

[Timer]
OnUnitActiveSec=5min
OnBootSec=5min
RandomizedDelaySec=1min

[Install]
WantedBy=timers.target
