[Unit]
Description=Security Tracker update timer

[Timer]
OnUnitActiveSec=1h
OnBootSec=15min
RandomizedDelaySec=10min

[Install]
WantedBy=timers.target
